.agency-preview {
  margin-top: $space-4x;

  h2 {
    font-family: $font-serif;
    font-size: $h3-font-size;
    font-weight: $font-bold;
  }

  h3 {
    font-size: $h2-font-size;
    margin-bottom: $space-5x;
    margin-top: $space-1x;
  }

  h4 {
    font-family: $font-sans;
    font-size: $base-font-size;
  }
}

.agency-preview_agency-back {
  &:after {
    @include has-icon($icon-caret, $width: 0.7em, $height: 0.7em, $float: none, $display: inline-block, $margins: 0 0 0 $space-2x);
  }
  &:hover {
    cursor: pointer;
  }
}

.agency-preview_components {
  list-style: none;
}

.agency-preview_contact-section {
  color: $color-primary-darkest;
  margin-bottom: $space-2x;
}

.agency-preview_list-hed {
  @extend %h2;
}

.agency-preview_component {
  &:after {
    @include has-icon($icon-caret, $width: 0.8em, $height: 0.6em, $float: none, $display: inline-block, $margins: 0 0 0 $space-1x);
  }
  &:hover {
    cursor: pointer;
    border-bottom: 1px solid $color-primary-darkest;
  }
}
