.agency-component-search {
  @extend .panel_reverse-color;
  border-top: $space-2x solid $color-primary-alt;
  padding-top: $space-4x;
  padding-bottom: $space-4x;
  h3 {
    margin-top: $space-1x;
    margin-bottom: $space-5x;
  }
  h4 {
    font-size: $base-font-size;
    font-family: $font-sans;
    &:before {
      content: "";
      width: 20px;
      height: 20px;
      background-color: $color-primary-darkest;
      display: block;
      float: left;
      border-radius: 100px;
      margin-right: 10px;
      margin-top: 1px;
    }
    + p {
      margin-left: 30px; // size of bubble + margin
    }
  }
  .usa-width-one-half {
    @media all and (min-width: $medium-screen) {
      border-right: 1px solid $color-primary-alt;
      padding-right: $space-2x;
      &:last-child {
        border: none;
        padding-left: 0;
        padding-right: $space-2x;
      }
    }
  }
  form + .secondary-text:after {
    @include text-divider($color-primary-alt);
    content: "";
  }
  input[type='search'] {
    border: none;
  }
}
