.agency-preview_components {
  list-style: none;
}

.agency-preview_component {
  cursor: pointer;
  border-bottom: 1px solid $color-primary-alt;
  font-size: $small-font-size;
  position: relative;

  &:after {
    bottom: -3px;
    content: '>';
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    position: absolute;
    right: -1.2rem;
  }
}
