.usa-button {
  font-weight: $font-semibold;
  &.usa-button-primary {
    background-color: $color-primary-darkest;
    &:hover,
    &:focus {
      background-color: $color-primary-alt-darker;
      color: $color-white;
    }
    &:visited {
      color: $color-white!important;
    }
  }
  &.usa-button-primary-alt {
    background-color: $color-primary-alt-light;
    color: $color-primary-darkest;
    &:visited {
      background-color: $color-primary-alt-light;
    }
    &:hover,
    &:visited:hover {
      background-color: $color-primary-alt!important;
    }
    &:active,
    &:focus,
    &:visited:active,
    &:visited:focus {
      background-color: $color-primary-alt!important;
      color: $color-primary-darkest;
    }
  }
  &.usa-button-outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $color-primary-alt-light;
    color: $color-primary-darkest;
    &:hover,
    &:visited:hover {
      background-color: $color-primary-alt-light;
      color: $color-primary-darkest;
      box-shadow: inset 0 0 0 2px $color-primary-alt-light;
    }
    &:active,
    &:focus,
    &:visited:active,
    &:visited:focus {
      background-color: $color-primary-alt-light;
      color: $color-primary-darkest;
      box-shadow: inset 0 0 0 2px $color-primary-alt-light;
    }
  }
  &.usa-button-small {
    font-weight: $font-normal;
  }
}

form [type=submit] {
  margin: $space-4x 0;
}
