.usa-button {
  font-weight: $font-semibold;
  &.usa-button-primary {
    background-color: $color-primary-darkest;
    &:hover,
    &:focus {
      background-color: $color-primary-alt-darker;
      color: $color-white;
    }
    &:visited {
      color: $color-white!important;
    }
  }
  &.usa-button-primary-alt {
    background-color: $color-primary-alt-light;
    color: $color-primary-darkest;
    &:visited {
      background-color: $color-primary-alt-light;
    }
    &:hover,
    &:visited:hover {
      background-color: $color-primary-alt!important;
    }
    &:active,
    &:focus,
    &:visited:active,
    &:visited:focus {
      background-color: $color-primary-alt!important;
      color: $color-primary-darkest;
    }
  }
  &.usa-button-outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $color-primary-alt-light;
    color: $color-primary-darkest;
    &:hover,
    &:visited:hover {
      background-color: $color-primary-alt-light;
      color: $color-primary-darkest;
      box-shadow: inset 0 0 0 2px $color-primary-alt-light;
    }
    &:active,
    &:focus,
    &:visited:active,
    &:visited:focus {
      background-color: $color-primary-alt-light;
      color: $color-primary-darkest;
      box-shadow: inset 0 0 0 2px $color-primary-alt-light;
    }
  }
  &.usa-button-small {
    font-weight: $font-normal;
  }
}

form [type=submit] {
  margin: $space-4x 0;
}

form .with-siblings[type=submit] {
  margin: 0.5em 0;
  @media all and (min-width: $small-screen) {
    margin: 0.5em;
  }
}

.close-button {
  width: 4.4rem;
  height: 4.4rem;
  background-image: url($icon-close-button);
  background-repeat: no-repeat;
  border-radius: 100px;
  background-color: transparent;
  background-size: 3rem;
  background-position: center center;
}

.close-button:hover,
.close-button:active {
  background-color: transparent;
}

%unstyled-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  width: auto;

  &:hover,
  &:active {
    color: inherit;
    background-color: transparent;
  }
}
.unstyled-button {
  @extend %unstyled-button;
}

.button-as-link {
  @extend %unstyled-button;
  @include touch-safe();
  text-decoration: underline;
  color: $color-primary-alt-darker;

  &:hover,
  &:active {
    color: $color-primary-darker;
    text-decoration: underline;
  }
}
