.usa-button.usa-button-outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $color-primary-alt-light;
  color: $color-white;
  &:hover {
    background-color: $color-primary-alt-light;
    color: $color-primary-darkest;
    box-shadow: inset 0 0 0 2px $color-primary-darkest;
  }
}
