// Add space around checkboxes that are displayed in a list.
//
// Useful for displaying checkboxes in a grid.
//
// @example
// Checkboxes displayed in a grid
//
// <ul class="usa-unstyled-list usa-grid checkbox-list">
//   <li className="usa-width-one-third">
//     <input id="2019" type="checkbox" name="fiscal-year" value="2019" checked />
//     <label htmlFor="2019">2019</label>
//   </li>
//   <li className="usa-width-one-third">
//     <input id="2018" type="checkbox" name="fiscal-year" value="2018" />
//     <label htmlFor="2018">2018</label>
//   </li>
//   <li className="usa-width-one-third">
//     <input id="2017" type="checkbox" name="fiscal-year" value="2017" />
//     <label htmlFor="2017">2017</label>
//   </li>
// </ul>
//
// @example
// Checkboxes displayed in a grid, within a modal
//
// <ul class="usa-unstyled-list usa-grid checkbox-list checkbox-list--in-modal">
//   <li className="usa-width-one-third">
//     <input id="2019" type="checkbox" name="fiscal-year" value="2019" checked />
//     <label htmlFor="2019">2019</label>
//   </li>
//   <li className="usa-width-one-third">
//     <input id="2018" type="checkbox" name="fiscal-year" value="2018" />
//     <label htmlFor="2018">2018</label>
//   </li>
//   <li className="usa-width-one-third">
//     <input id="2017" type="checkbox" name="fiscal-year" value="2017" />
//     <label htmlFor="2017">2017</label>
//   </li>
// </ul>
//
// @see https://v1.designsystem.digital.gov/components/form-controls/#checkboxes for recommended checkbox markup.
.checkbox-list {
  margin: 1rem 0;

  li {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    &:first-child {
      margin-top: 0.5rem;
    }

    &:last-child {
      margin-bottom: 0.5rem;
    }
  }
}

// When displayed in a modal, the grid display and margins of the one third grid are a bit off.
// This brings displays modal one third checkbox lists in a 2 column grid between medium
// and medium large screens and updates margin sizes of the items in the last column.
// The smaller margins allow the checkboxes to display the correct number of columns
// within the modal.
@media all and (min-width: $medium-screen) and (max-width: #{$medium-large-screen - 1px}) {
  $direction: get-direction($layout-direction, $default-layout-direction);

  .checkbox-list--in-modal .usa-width-one-third {
    @include span-columns(3 of 6);
  }

  .checkbox-list--in-modal .usa-width-one-third:nth-child(2n) {
    margin-#{$direction}: 0;
  }
}

@media all and (min-width: $medium-large-screen) {
  $direction: get-direction($layout-direction, $default-layout-direction);

  .checkbox-list--in-modal .usa-width-one-third:nth-child(3n) {
    margin-#{$direction}: 0;
  }
}
