.confirmation {
  section {
    border-bottom: 1px solid $color-primary-alt-light;
    margin: $space-4x 0;
    padding-bottom: $space-4x;
    &:last-child {
      border-bottom: none;
    }
    div :last-child p:last-child {
      margin-bottom: 0;
    }
  }
  h2 {
    font-family: $font-serif;
    font-weight: $font-bold;
    font-size: 2.2rem;
  }
  h3 {
    font-family: $font-sans;
    font-size: 2.2rem;
  }
  h5 {
    margin-bottom: 0;
    + p {
      margin-top: 0;
    }
  }
}

.confirmation_agency-contact {
  p {
    margin: 0;
  }
}
