.request_writing_tips {
  width: 100% !important;

  button.request_writing_tips-button {
    background-color: $color-primary-alt-darker !important;
    color: $color-white;
    font-weight: $font-semibold !important;
    padding: 2rem !important;
  }
}