// TODO Temporary foia-legacy overrides
.foia-request-form {
  label,
  legend {
    display: block !important;
  }

  label {
    font-size: inherit !important;
    margin-bottom: $space-1x!important;
  }
}

.foia-request-form {
  margin-top: 3rem;
  label {
    font-weight: bold;
    color: $color-primary-darkest;
  }
  input {
    border-color: $color-gray;
    font-weight: bold;
    color: $color-primary-darkest;
  }
}

.foia-request-form_inline-progress {
  color: $color-gray;
  font-size: $base-font-size;
  margin-bottom: $space-3x;
}

.foia-request-form_nav-top {
  max-width: 46rem; // Align with input elements
  text-align: right;

  // Total hack, if we're following a field-object it is probably a section.
  // Each section already has it's own return to top link, so this is probably
  // a duplicate link at the very bottom of the form.
  .field-object + & {
    display: none;
  }
}
