p.statute-indent-level-1{
    margin-left: 2em;
}

p.statute-indent-level-2{
    margin-left: 4em;
}

p.statute-indent-level-3{
    margin-left: 6em;
}

p.statute-indent-level-4{
    margin-left: 8em;
}
