.foia-component-card {
  background-color: $color-blue-light;
  border-radius: 10px;
  padding: 2.4rem;
  position: relative;

  &::before {
    background-color: $color-primary-alt-light;
    border-radius: 10px;
    bottom: -10px;
    content: '';
    height: 100%;
    position: absolute;
    right: -10px;
    width: 100%;
    z-index: -1;
  }
}

.foia-component-card--alt {
  border-left: 10px solid $color-primary-alt-light;

  &::before {
    content: unset;
  }
}

.foia-component-card__tag {
  color: $color-white;
  font-size: 1.8rem;
  font-weight: 700;

  .foia-component-card--alt & {
    font-weight: 400;
  }
}

.foia-component-card__title {
  color: $color-white !important;
  font-size: 2.8rem;
  font-weight: 500;
  margin-top: 1rem;
  position: relative;
  width: fit-content;

  &::before {
    .foia-component-card--alt & {
      background-image: url($icon-external-link-white);
      background-repeat: no-repeat;
      content: '';
      height: 18px;
      position: absolute;
      right: -30px;
      top: 10px;
      width: 18px;
    }
  }

  .foia-component-card--alt & {
    margin-bottom: 0;
  }
}

.foia-component-card__subtitle {
  color: $color-white;
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 2rem;
}

.foia-component-card__score {
  color: $color-white;
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
}
