$form-description-font-size: 1.5rem;
$form-description-leading: 1.4;

.form-group {
  margin-top: $space-4x;
  label {
    margin-bottom: $space-1x;
  }
}

.form-group_header {
  color: $color-primary;
  font-size: $h3-font-size;
}

.form-group_help-text {
  font-style: italic;
  font-family: $font-serif;
  font-size: $small-font-size;
  color: $color-gray;
}

.usa-form-hint {
  font-size: $form-description-font-size;
  line-height: $form-description-leading;
  font-style: italic;
}

label {
  font-family: $font-sans;
  font-size: $h5-font-size;
  line-height: 1.3;
}

input,
textarea,
select {
  color: $color-primary-darkest;
}
