$form-description-font-size: 1.5rem;
$form-description-leading: 1.4;

.form-group {
  margin-top: $space-4x;
  label {
    margin-bottom: $space-1x;
  }
}

.form-group_header {
  color: $color-primary;
  font-size: $h3-font-size;
}

.form-group_footer {
  text-align: center;
}

.form-group_help-text {
  font-style: italic;
  font-family: $font-serif;
  font-size: $small-font-size;
  color: $color-gray;
}

.form-group_footer-links {
  @extend .usa-grid-full;
  @extend .form-group;
}

.form-group_footer-links_left,
.form-group_footer-links_right {
  @extend .usa-width-one-half;
  min-height: 1px; // Maintain spacing even if no data in the left group.
}

.form-group_footer-links_right {
  margin-top: 1rem;

  @media screen and (min-width: $medium-screen) {
    margin-top: 0;
    text-align: right;
  }
}

.usa-form-hint {
  font-size: $form-description-font-size;
  line-height: $form-description-leading;
  font-style: italic;
}

label {
  font-family: $font-sans;
  font-size: $h5-font-size;
  line-height: 1.3;
}

input,
textarea,
select {
  color: $color-primary-darkest;
}
