.form-group {
  margin-top: $site-margins; // 3rem
  padding-bottom: $site-margins;
  label {
    margin-bottom: 1rem;
    font-family: $font-sans;
  }
}

.form-group_header {
  color: $color-primary;
  font-size: $h3-font-size;
}

.form-group_help-text {
  font-style: italic;
  font-family: $font-serif;
  font-size: $small-font-size;
  color: $color-gray;
}
