$hero-fullscreen-breakpoint: 515px;
$hero-text-size: 1.9rem;
$hero-h2: 2.2rem;

.usa-hero {
  background-image: none;
  padding: 0;
  @media screen and (min-width: $small-screen) {
    background-image: url('../img/Usdepartmentofjustice-1.jpg');
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @media screen and (max-width: $small-screen) {
    .usa-grid {
      padding: 0;
    }
  }
}
.usa-hero-callout {
  min-width: 100%;
  @media screen and (min-width: $medium-large-screen){
    min-width: 55%;
  }
  h2 {
    font-size: $hero-h2;
    font-family: $font-serif;
    font-weight: bold;
    line-height: 1.5;

    @media screen and (min-width: $small-screen) {
      font-size: 2.5rem;
    }
    &:after {
      content: "";
      width: 80px;
      height: 5px;
      background-color: $color-primary-alt-light;
      border-radius: 20px;
      display: block;
      margin-top: $space-3x;
      margin-bottom: $space-3x;
    }
  }
  p {
    font-size: $hero-text-size;
    line-height: 1.5;
    @media screen and (min-width: $small-screen) {
      font-size: $h4-font-size;
    }
  }
  a {
    color: $color-white;
    &:visited {
      color: $color-white;
    }
  }
  .usa-button.usa-button-primary-alt {
    padding: $space-2x;
    margin-right: 0;
    font-size: $hero-text-size;
  }
}

.hero-unit_button-group {
  @media screen and (min-width: $hero-fullscreen-breakpoint) {
    display: flex;
  }
  font-size: $hero-text-size;
  a {
    padding-top: $space-2x;
    margin-bottom: $space-2x;
  }
  .usa-button {
    @media screen and (min-width: $hero-fullscreen-breakpoint) {
      flex-grow: 1;
      display: inline;
      width: auto;
      margin-top: 0;
    }
    margin-top: 1rem;
    font-size: $hero-text-size;
  }
  span {
    flex-grow: 1;
    line-height: 1;
    text-align: center;
    padding: $space-2x;
    @media screen and (max-width: $hero-fullscreen-breakpoint) {
      display: none;
    }
  }
}
