$hero-text-size: 1.9rem;
$hero-h2: 2.2rem;

.usa-hero {
  background-image: none;
  padding: 0;
  background-position: center top;
  @media screen and (min-width: $large-screen) {
    background-position: center top -14rem;
    background-image: url('../img/Usdepartmentofjustice-high-res.jpg');
  }
  @media screen and (min-width: $small-screen) {
    background-image: url('../img/Usdepartmentofjustice-1.jpg');
    padding-bottom: 3rem;
  }
  @media screen and (max-width: $small-screen) {
    .usa-grid {
      padding: 0;
    }
  }
}

.usa-hero-callout {
  background-color: #{$color-primary-darkest}e5;
  min-width: 100%;
  @media screen and (min-width: $medium-large-screen){
    min-width: 55%;
  }
  h2 {
    font-size: $hero-h2;
    font-family: $font-serif;
    font-weight: bold;
    line-height: 1.5;

    @media screen and (min-width: $small-screen) {
      font-size: 2.5rem;
    }
    &:after {
      content: "";
      width: 80px;
      height: 5px;
      background-color: $color-primary-alt-light;
      border-radius: 20px;
      display: block;
      margin-top: $space-3x;
      margin-bottom: $space-3x;
    }
  }
  p {
    font-size: $hero-text-size;
    line-height: 1.5;
    @media screen and (min-width: $small-screen) {
      font-size: $h4-font-size;
    }
  }
  a {
    color: $color-white;
    &:visited {
      color: $color-white;
    }
    span {
      border-bottom: 2px solid $color-primary-alt-light;
    }
  }
  .usa-button.usa-button-primary-alt {
    padding: $space-2x;
    margin-right: 0;
    font-size: $hero-text-size;
  }
}

.usa-hero-callout-nav {
  background-color: #{$color-primary-darkest}e5;
  margin-top: 4.5rem;
  min-width: 100%;
  padding: 3rem 6.5rem;

  .usa-hero-callout-nav__heading {
    color: $color-white;
    font-family: $font-sans;
    font-size: 2.2rem;
    margin-bottom: 2.6rem;
    margin-top: unset;
    max-width: unset;
    text-align: center;
  }

  .usa-hero-callout-nav__cards {
    display: flex;
    gap: 3rem;
  }

  .usa-hero-callout-nav__button-card {
    align-items: center;
    background-color: $color-primary-alt-lightest;
    border-radius: 10px;
    color: $color-primary-darkest;
    display: flex;
    flex: 1;
    font-size: 2rem;
    font-weight: 500;
    padding: 2.5rem;
    text-align: center;
  }
}
