// Display an unstyled list with separators between list elements.
//
// @example
// <ul class="inline-list">
//   <li><a href="#">Select All</a></li>
//   <li><a href="#">Select None</a></li>
// </ul>
.inline-list {
  @extend .usa-unstyled-list;

  li {
    display: inline-block;
    line-height: 1;
    padding: 0 1rem;
    position: relative;
  }

  li:first-child {
    padding-left: 0;
  }

  li + li {
    border-left: 1px solid $color-primary-alt-darker;
  }
}
