.add-bottom-margin-one{
  margin-bottom:1em;
}

#list-of-exemptions, #list-of-resources{
  list-style:none;
  max-width:62.4rem;
}

#list-of-exemptions > ol{
  list-style:none;
  margin-left:2em;
}

#list-of-exemptions > ul{
  list-style:none;
  margin-left:1em;
}
.usa-header-extended{
  border-bottom: 1px solid #DEF0FF !important;
}
