.sidebar {
  background: $color-primary-alt-light;
  section {
    border-top: 1px solid $color-primary-alt-light;
  }
}

.sidebar_tab-controls {
  display: flex;
  li {
    flex-grow: 1;
    cursor: pointer;
    a {
      color: $color-primary-darkest;
    }
    &.tab_active {
      font-weight: bold;
      background-color: $color-primary-darkest;
      a {
        color: $color-white;
      }
    }
  }
}

// TODO: Remove #content when legacy css goes away
#content .sidebar_tabs {
  > li {
    display: none;
  }
  .tab_active {
    display: block;
    background-color: $color-primary-darkest;
    h1,
    h2,
    h3,
    h4,
    p,
    a {
      color: $color-white;
    }

    h5 {
      color: $color-primary-alt-light;
      font-weight: bold;
      margin-top: 0;
    }
  }
  h2 {
    font-family: $font-serif;
    font-size: $h4-font-size;
  }
  h3 {
    font-size: $h5-font-size;
  }
}
