$hide-tabs-width: 768px;

.sidebar {
  @media screen and (max-width: $medium-screen) {
    display: none;
  }
}
.sidebar_tab-controls {
  display: flex;
  li {
    flex-grow: 1;
    cursor: pointer;
    a {
      color: $color-primary-darkest;
    }
    &:first-child {
      background-color: $color-primary-darkest;
      a {
        color: $color-white;
      }
    }
    &:last-child {
      background-color: $color-primary-alt-light;
      a {
        color: $color-primary-darkest;
      }
    }
  }
}

.sidebar_tabs {
  > section {
    display: none;
    h4 {
      font-weight: bold;
      font-size: $h5-font-size;
      font-family: $font-sans;
    }
  }
  .tab_active {
    display: block;
  }
  > section:first-child {
    @extend .use-light-icons;
    background-color: $color-primary-darkest;
    section {
      border-top: 1px solid $color-primary-alt-light;
    }

    h1,
    h2,
    h3,
    p,
    a {
      color: $color-white;
    }

    h4 {
      color: $color-primary-alt-light;
    }
  }

  > section:last-child {
    @extend .use-dark-icons;
    background-color: $color-primary-alt-light;
    section {
      border-top: 1px solid $color-primary-darkest;
    }
  }

  h2 {
    font-family: $font-serif;
    font-size: $h4-font-size;
  }
  h3 {
    font-size: $h5-font-size;
  }
}

.submission-help_tips {
  color:  $color-white;

  p {
    padding-left: $space-4x;
  }
}

.sidebar_content-inner {
  margin-top: $space-4x;
  max-width: $form-max-width;

  @media screen and (max-width: $medium-screen) {
    margin: auto;
    padding-left: $space-2x;
    padding-right: $space-2x;
  }
  @media screen and (max-width: $hide-tabs-width) {
    margin: auto;
  }
}
