.spinner {
  width: 3rem;
  height: 3rem;
  border: .5rem solid $color-gray-light;
  border-top: .5rem solid $color-gray;
  border-radius: 100%;
  transition-property: transform;
  animation-name: rotate; 
  animation-duration: 1.5s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
