.three-column-summary {
  margin: $space-4x auto;
  h3 {
    @extend h2;
    font-weight: normal;
  }
  .secondary-text:after {
    content: "";
    @extend .text-divider;
  }
  .usa-width-one-third {
    h4 {
      font-size: $base-font-size;
      font-family: $font-sans;
    }
    p { }
  }
}
