.three-column-summary {
  margin: $space-4x auto;
  .secondary-text:after {
    content: "";
    @include text-divider;
  }
  .usa-width-one-third {
    h4 {
      font-size: $base-font-size;
      font-family: $font-sans;
    }
  }
}
