// Component: Body Text

.c-body-text {
  font-size: 28px;
  margin: 1.5rem 0;

  .l-app-container--blue &,
  .l-app-container--purple &,
  .l-app-container--gray & {
    color: settings-color(grayscale, white);
  }
}
