extends: airbnb
settings:
  import/resolver: webpack
env:
  browser: true
globals:
  $: true
  jQuery: true
rules:
  linebreak-style: off
  camelcase: 0
  no-mixed-operators: 0
  no-plusplus: 0
  no-param-reassign:
    - error
    - props: false
  no-underscore-dangle:
    - 2
    - allowAfterThis: true
  'react/forbid-prop-types': 0
  'react/jsx-no-bind': 0
  semi: ["error", "always"]
  quotes: "double"

  # TODO: Turn on the following and resolve the many instances.
  'import/no-cycle': 0
  'react/destructuring-assignment': 0
  'jsx-a11y/anchor-is-valid': 0
  'jsx-a11y/click-events-have-key-events': 0
  'jsx-a11y/label-has-associated-control': 0
  'react/jsx-props-no-spreading': 0
  'react/default-props-match-prop-types': 0
  'react/button-has-type': 0
  'react/sort-comp': 0
  'react/no-unused-state': 0
  'max-len': 0
  'react/no-unused-class-component-methods': 0
  'no-restricted-globals': 0
  'react/require-default-props': 0
  'default-param-last': 0
  'import/no-unresolved': 0
  'prefer-destructuring': 0
  'import/named': 0
