.DS_Store
.htpasswd
.idea/
.jekyll-metadata
.sass-cache
.tmp/
.vagrant/
_site
/deploy/
node_modules/
npm-debug.log*
/www.foia.gov/assets/

# These copied from root in DDEV pre-start hook
.ddev/app-build/Gemfile
.ddev/app-build/Gemfile.lock
.ddev/app-build/package.json
.ddev/app-build/package-lock.json
