{
  "swagger": "2.0",
  "info": {
    "description": "<p>This Swagger Page is for the <a href=\"/developer/\">FOIA Request Portal</a>.  Information about the <a href=\"/developer/agency-api/\">FOIA Agency API</a> can be found on the <a href=\"/developer/agency-api/\">API Specs page</a>.</p><h5>Authorization with API Key</h5><p>Use the Authorize button below to enter your <code>api_key</code> if you have one.  You can<a href=\"/developer/#api-key-signup\"> signup for an API key</a> or use the following <code>api_key</code> for testing. <br><br> <code>N4aCuDuJO8Ucf1FTR2EzVPZqo8NsSl1c7YLYOk8N</code></p><h5>Agency Component Entity ID</h5><p>You can use the Entity ID for <b>Office of Information Policy</b> in the examples below:</p><code>8216158f-8089-431d-b866-dc334e8d4758</code>",
    "title": "National FOIA Portal - JSON API",
    "version": "Versioning not supported"
  },
  "host": "api.foia.gov",
  "basePath": "/api",
  "securityDefinitions": {
    "APIKeyHeader": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-Key"
    }
  },
  "security": [{
    "APIKeyHeader": []
  }],
  "schemes": ["https"],
  "consumes": ["application\/vnd.api+json"],
  "produces": ["application\/vnd.api+json"],
  "paths": {
    "/agency_components": {
      "get": {
        "summary": "Get a List of Agency Components",
        "description": "<p>Request a list of Agency Components.  The ID returned can be used to get more details about the Agency Component.  Using parameters such as <code>include</code> and <code>fields</code> allow you to request complex data.</p><h4>For Example:</h4><p>A list of agency components with their parent agency.</p><code>https://api.foia.gov/api/agency_components?&include=agency&fields[agency]=name,abbreviation&fields[agency_component]=title,abbreviation,agency</code>",
        "security": [{
          "APIKeyHeader": []
        }],
        "parameters": [{
          "name": "fields[agency_component]",
          "required": false,
          "in": "query",
          "type": "string",
          "description": "You can choose which fields to include by using comma separated values in this parameter.</p><h5>For Example:</h5><p>This endpoint will return only the title and description. <br> https://api.foia.gov/api/agency_components?fields[agency_component]=title,description&api_key=N4aCuDuJO8Ucf1FTR2EzVPZqo8NsSl1c7YLYOk8N</p><h5>Possible values:</h5><code>title, status, abbreviation, moderation_state, description, email, submission_address</code>"
        },
          {
            "name": "fields[agency]",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "You can choose which fields to include by using comma separated values in this parameter.</p><h5>For Example:</h5><p>This endpoint will return only the title and description. <br> https://api.foia.gov/api/agency_components?fields[agency_component]=title,description&api_key=N4aCuDuJO8Ucf1FTR2EzVPZqo8NsSl1c7YLYOk8N</p><h5>Possible values:</h5><code>title, status, abbreviation, moderation_state, description, email, submission_address</code>"
          },
          {
            "name": "page[limit]",
            "in": "query",
            "type": "number",
            "required": false,
            "description": "You can use <code>page[limit]</code> to return a maximum number of results. <p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\" target=\"_blank\">Learn more about Pagination in the Drupal documentation</a>.</p>"
          },
          {
            "name": "page[offset]",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "<p>The offset is the result you want to start with.  An offset of 3 and a <code>page[limit]</code> of 10 will list ten items starting from item 3.  Each JSON response from the API will have built in pagination under <code>links</code>.</p><p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\" target=\"_blank\">Learn more about Pagination in the Drupal documentation</a>.</p>"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Embed related entities in the JSON response under <code>relationships</code>. <p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\" target=\"_blank\">Learn more in the documentation</a>.</p><p><h5>Possible values:</h5><code>agency, foia_officers, field_misc, public_liaisons, paper_receiver, request_form, service_centers</code></p>"
          }
        ],
        "tags": ["Agency Component"],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "title": "paragraph:admin_app_via Schema",
              "description": "Describes the payload for 'paragraph' entities of the 'admin_app_via' bundle.",
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/paragraph--admin_app_via/properties/data"
                  }
                },
                "meta": {
                  "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                  "type": "object",
                  "additionalProperties": true
                },
                "links": {
                  "type": "object",
                  "additionalProperties": {
                    "description": "A link **MUST** be represented as either: a string containing the link's URL or a link object . ",
                    "type": "object",
                    "required": [
                      "href"
                    ],
                    "properties": {
                      "href": {
                        "description": "A string containing the link's URL . ",
                        "type": "string",
                        "format": "uri - reference"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "jsonapi": {
                  "description": "An object describing the server's implementation",
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": true
            }
          },
          "400": {
            "description": "Syntax error"
          },
          "403": {
            "description": "Forbidden: The api_key is missing"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/agency_components/{entity}": {
      "get": {
        "summary": "Get Agency Component Details",
        "description": "<p>Request details for an Agency Component by UUID.</p>",
        "parameters": [{
          "name": "entity",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "The uuid of the node agency_component"
        }],
        "tags": ["Agency Component"],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/node--agency_component"
            }
          },
          "400": {
            "description": "Syntax error"
          },
          "403": {
            "description": "Forbidden: The api_key is missing"
          },
          "404": {
            "description": "Agency Component Not Found"
          }
        }
      }
    },
    "/agency": {
      "get": {
        "summary": "List Taxonomy: Agency",
        "description": "Endpoint for listing the agency taxonomy type.  The ID returned can be used to get details on the term.",
        "parameters": [
          {
            "name": "page[limit]",
            "in": "query",
            "type": "number",
            "required": false,
            "description": "You can use <code>page[limit]</code> to return a maximum number of results. <p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\" target=\"_blank\">Learn more about Pagination in the Drupal documentation</a>.</p>"
          },
          {
            "name": "page[offset]",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "<p>The offset is the result you want to start with.  An offset of 3 and a <code>page[limit]</code> of 10 will list ten items starting from item 3.  Each JSON response from the API will have built in pagination under <code>links</code>.</p><p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\" target=\"_blank\">Learn more about Pagination in the Drupal documentation</a>.</p>"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Embed related entities in the JSON response under <code>relationships</code>. <p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\" target=\"_blank\">Learn more in the documentation</a>.</p><p><h5>Possible values:</h5><code>agency, foia_officers, field_misc, public_liaisons, paper_receiver, request_form, service_centers</code></p>"
          }
        ],
        "tags": [
          "Agency Taxonomy"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "title": "taxonomy_term:agency Schema",
              "description": "Describes the payload for 'taxonomy_term' entities of the 'agency' bundle.",
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/taxonomy_term--agency/properties/data"
                  }
                },
                "meta": {
                  "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                  "type": "object",
                  "additionalProperties": true
                },
                "links": {
                  "type": "object",
                  "additionalProperties": {
                    "description": "A link **MUST** be represented as either: a string containing the link's URL or a link object . ",
                    "type": "object",
                    "required": [
                      "href"
                    ],
                    "properties": {
                      "href": {
                        "description": "A string containing the link's URL . ",
                        "type": "string",
                        "format": "uri - reference"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "jsonapi": {
                  "description": "An object describing the server's implementation",
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/agency/{entity}": {
      "get": {
        "summary": "Get Taxonomy Details: Agency",
        "description": "Endpoint for the agency taxonomy type. The individual endpoint contains details on the Agency Taxonomy Type.",
        "parameters": [{
          "name": "entity",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "The uuid of the taxonomy_term agency which can be found using the List Agency endpoint above.  You can use the ID <code>0562281a-9b9f-4f43-89c3-d1661841d5a4</code> as an example."
        }],
        "tags": [
          "Agency Taxonomy"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/taxonomy_term--agency"
            }
          }
        }
      }
    },
    "/agency_components/{entity}/request_form": {
      "get": {
        "summary": "Get Agency Component Request Form",
        "description": "Get a Request Form for an Agency by UUID.  A Request Form is necessary for submitting a FOIA Request using the webform/submit endpoint.  <h5>For Example:</h5> <p>https://api.foia.gov/api/agency_components/8216158f-8089-431d-b866-dc334e8d4758/request_form</p><p>You will get back the UUID 3d10c8bd-b803-467d-a9a3-797cf8c760a7 for the NARA-WJCPL form.<p/>",
        "parameters": [{
          "name": "entity",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "The uuid of the node agency_component"
        }],
        "tags": ["Agency Component"],
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "400": {
            "description": "Syntax error"
          },
          "403": {
            "description": "Forbidden: The api_key is missing"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/annual_foia_report": {
      "get": {
        "summary": "List Annual FOIA Reports",
        "description": "Endpoint for listing Annual Reports.  You must restrict the results returned when using this endpoint due to the high number of reports.<p>offset results.</p>",
        "parameters": [{
          "name": "page[limit]",
          "in": "query",
          "type": "number",
          "required": true,
          "minimum": 1,
          "maximum": 10,
          "description": "Limiting the result set to 10 reports is necessary due to the high number of Annual Reports. <p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\" target=\"_blank\">Learn more about Pagination in the Drupal documentation</a>.</p>"
        },
          {
            "name": "page[offset]",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "<p>The offset is the result you want to start with.  An offset of 3 and a <code>page[limit]</code> of 10 will list ten items starting from item 3.  Each JSON response from the API will have built in pagination under <code>links</code>.</p><p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\" target=\"_blank\">Learn more about Pagination in the Drupal documentation</a>.</p>"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "array",
            "required": false,
            "description": "<p>You can sort results in alphabetical order by multiple fields such as <code>title</code> or by author <code>uid.name</code>.</p><p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\" target=\"_blank\">Learn more about sorting in the Drupal documentation</a>.</p>"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Embed related entities in the JSON response under <code>relationships</code>. <p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\" target=\"_blank\">Learn more in the documentation</a>.</p><p><h5>Possible values:</h5><code>field_admin_app_via, field_admin_app_vib, field_admin_app_vic1, field_admin_app_vic2, field_admin_app_vic3, field_admin_app_vic4, field_admin_app_vic5, field_admin_app_viie, field_agency, field_agency_components, field_fees_x, field_foia_pers_costs_ix, field_foia_requests_va, field_foia_requests_vb1, field_foia_requests_vb2, field_foia_requests_vb3, field_foia_xiia, field_foia_xiib, field_foia_xiic, field_foia_xiid1, field_foia_xiid2, field_foia_xiie1, field_foia_xiie2, field_pending_requests_vii_d_, field_proc_req_viia, field_proc_req_viib, field_proc_req_viic1, field_proc_req_viic2, field_proc_req_viic3, field_report_files, field_req_viiia, field_req_viiib, field_statute_iv, field_sub_xia, field_sub_xib</code></p>"
          }
        ],
        "tags": [
          "Annual FOIA Report Data"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "title": "node:annual_foia_report_data Schema",
              "description": "Annual total data report given by an agency.",
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/node--annual_foia_report_data/properties/data"
                  }
                },
                "meta": {
                  "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                  "type": "object",
                  "additionalProperties": true
                },
                "links": {
                  "type": "object",
                  "additionalProperties": {
                    "description": "A link **MUST** be represented as either: a string containing the link's URL or a link object . ",
                    "type": "object",
                    "required": [
                      "href"
                    ],
                    "properties": {
                      "href": {
                        "description": "A string containing the link's URL . ",
                        "type": "string",
                        "format": "uri - reference"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "jsonapi": {
                  "description": "An object describing the server's implementation",
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/annual_foia_report/fiscal_years": {
      "get": {
        "summary": "Get Annual Report: Fiscal Years",
        "description": "Request Fiscal Years for Annual Reports.",
        "security": [{
          "APIKeyHeader": []
        }],
        "parameters": [],
        "tags": ["Annual FOIA Report Data"],
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "400": {
            "description": "Syntax error"
          },
          "403": {
            "description": "Forbidden: The api_key is missing"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/quarterly_foia_report": {
      "get": {
        "summary": "List Quarterly FOIA Reports",
        "description": "Endpoint for the quarterly_foia_report_data resource type.",
        "parameters": [{
          "name": "page[limit]",
          "in": "query",
          "type": "number",
          "required": true,
          "minimum": 1,
          "maximum": 10,
          "description": "Limiting the result set to 10 reports is necessary due to the high number of Annual Reports. <p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\" target=\"_blank\">Learn more about Pagination in the Drupal documentation</a>.</p>"
        },
          {
            "name": "page[offset]",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "<p>The offset is the result you want to start with.  An offset of 3 and a <code>page[limit]</code> of 10 will list ten items starting from item 3.  Each JSON response from the API will have built in pagination under <code>links</code>.</p><p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\" target=\"_blank\">Learn more about Pagination in the Drupal documentation</a>.</p>"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "array",
            "required": false,
            "description": "<p>You can sort results in alphabetical order by multiple fields such as <code>title</code> or by author <code>uid.name</code>.</p><p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\" target=\"_blank\">Learn more about sorting in the Drupal documentation</a>.</p>"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Embed related entities in the JSON response under <code>relationships</code>. <p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\" target=\"_blank\">Learn more in the documentation</a>.</p><p><h5>Possible values:</h5><code>field_agency, field_agency_components, field_quarterly_component_data</code>.</p>"
          }
        ],
        "tags": [
          "Quarterly FOIA Report Data"
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "title": "node:quarterly_foia_report_data Schema",
              "description": "Quarterly total data report given by an agency.",
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/node--quarterly_foia_report_data/properties/data"
                  }
                },
                "meta": {
                  "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                  "type": "object",
                  "additionalProperties": true
                },
                "links": {
                  "type": "object",
                  "additionalProperties": {
                    "description": "A link **MUST** be represented as either: a string containing the link's URL or a link object . ",
                    "type": "object",
                    "required": [
                      "href"
                    ],
                    "properties": {
                      "href": {
                        "description": "A string containing the link's URL . ",
                        "type": "string",
                        "format": "uri - reference"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "jsonapi": {
                  "description": "An object describing the server's implementation",
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/quarterly_foia_report/fiscal_years": {
      "get": {
        "summary": "Get Quarterly Report: Fiscal Years",
        "description": "Request Fiscal Years for Quarterly Reports.",
        "security": [{
          "APIKeyHeader": []
        }],
        "parameters": [],
        "tags": ["Quarterly FOIA Report Data"],
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "400": {
            "description": "Syntax error"
          },
          "403": {
            "description": "Forbidden: The api_key is missing"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/node/cfo_meeting": {
      "get": {
        "summary": "List CFO Meetings",
        "description": "Endpoint for listing node--cfo_meeting resource type. The ID returned can be used to get details for the CFO Meeting.",
        "parameters": [{
          "name": "page[limit]",
          "in": "query",
          "type": "number",
          "required": false,
          "description": "Limiting the result set to 10 reports is necessary due to the high number of Annual Reports. <p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\" target=\"_blank\">Learn more about Pagination in the Drupal documentation</a>.</p>"
        },
          {
            "name": "page[offset]",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "<p>The offset is the result you want to start with.  An offset of 3 and a <code>page[limit]</code> of 10 will list ten items starting from item 3.  Each JSON response from the API will have built in pagination under <code>links</code>.</p><p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\" target=\"_blank\">Learn more about Pagination in the Drupal documentation</a>.</p>"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "array",
            "required": false,
            "description": "<h5>For Example:</h5><p>You can sort results in alphabetical order by multiple fields such as <code>title</code>.  You can also sort by other useful fields such as the author name <code>uid.name</code>.</p> <code>field_meeting_date, changed,  created, moderation_state</code></p><p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\" target=\"_blank\">Learn more about sorting in the Drupal documentation</a>.</p>"
          },
          {
            "name": "sort[sort-created][direction]",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "You can change the sorting direction by using either <code>DESC</code> and <code>ASC</code>."
          },
          {
            "name": "include",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Embed related entities in the JSON response under <code>relationships</code>. <p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\" target=\"_blank\">Learn more in the documentation</a>.</p><p><h5>Possible values:</h5><code>node_type, revision_uid, uid, menu_link, field_meeting_agenda, field_meeting_documents, field_meeting_materials</code></p>"
          }
        ],
        "tags": [
          "CFO Meeting"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "title": "node:cfo_meeting Schema",
              "description": "Meetings for the Chief FOIA Officers Council.  Contains the date, body, heading, agenda, and links to meeting related documents and information.",
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/node--cfo_meeting/properties/data"
                  }
                },
                "meta": {
                  "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                  "type": "object",
                  "additionalProperties": true
                },
                "links": {
                  "type": "object",
                  "additionalProperties": {
                    "description": "A link **MUST** be represented as either: a string containing the link's URL or a link object . ",
                    "type": "object",
                    "required": [
                      "href"
                    ],
                    "properties": {
                      "href": {
                        "description": "A string containing the link's URL . ",
                        "type": "string",
                        "format": "uri - reference"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "jsonapi": {
                  "description": "An object describing the server's implementation",
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/cfo_meeting/{entity}": {
      "get": {
        "summary": "Get CFO Meeting",
        "description": "Individual endpoint for the node--cfo_meeting resource type. You can use the following entity ID  as an example.<p><code>142af11a-14ae-4372-8eda-6aadcb3154a6</code></p>",
        "parameters": [{
          "name": "entity",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "The uuid of the node cfo_meeting which can be found by using the List CFO Meetings above."
        }],
        "tags": [
          "CFO Meeting"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "description": "An array of objects each containing \\\"type\\\" and \\\"id\\\" members for to-many relationships.",
                  "type": "array",
                  "items": {
                    "description": "The \"type\" and \"id\" to non-empty members.",
                    "type": "object",
                    "required": [
                      "type",
                      "id"
                    ],
                    "properties": {
                      "type": {
                        "title": "Resource type name",
                        "type": "string",
                        "enum": [
                          "paragraph--link_or_file"
                        ]
                      },
                      "id": {
                        "title": "Resource ID",
                        "type": "string",
                        "format": "uuid"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {

                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "uniqueItems": true
                }
              }
            }
          }
        }
      }
    },
    "/cfo_meeting/{entity}/field_meeting_agenda": {
      "get": {
        "summary": "Get CFO Meeting Agenda Item",
        "description": "Endpoint for the paragraph--agenda_item resource type through the <em class=\"placeholder\">field_meeting_agenda</em> relationship.",
        "parameters": [{
          "name": "entity",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "The uuid of the node cfo_meeting"
        }],
        "tags": [
          "CFO Meeting"
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "title": "paragraph:agenda_item Schema",
              "description": "Describes the payload for 'paragraph' entities of the 'agenda_item' bundle.",
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/paragraph--agenda_item/properties/data"
                  }
                },
                "meta": {
                  "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                  "type": "object",
                  "additionalProperties": true
                },
                "links": {
                  "type": "object",
                  "additionalProperties": {
                    "description": "A link **MUST** be represented as either: a string containing the link's URL or a link object . ",
                    "type": "object",
                    "required": [
                      "href"
                    ],
                    "properties": {
                      "href": {
                        "description": "A string containing the link's URL . ",
                        "type": "string",
                        "format": "uri - reference"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "jsonapi": {
                  "description": "An object describing the server's implementation",
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/cfo_meeting/{entity}/field_meeting_documents": {
      "get": {
        "summary": "Get CFO Meeting Documents",
        "description": "Endpoint for the paragraph--link_or_file resource type through the <em class=\"placeholder\">field_meeting_documents</em> resource object.",
        "parameters": [{
          "name": "entity",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "The uuid of the node cfo_meeting."
        }],
        "tags": [
          "CFO Meeting"
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "title": "paragraph:link_or_file Schema",
              "description": "Describes the payload for 'paragraph' entities of the 'link_or_file' bundle.",
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/paragraph--link_or_file/properties/data"
                  }
                },
                "meta": {
                  "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                  "type": "object",
                  "additionalProperties": true
                },
                "links": {
                  "type": "object",
                  "additionalProperties": {
                    "description": "A link **MUST** be represented as either: a string containing the link's URL or a link object . ",
                    "type": "object",
                    "required": [
                      "href"
                    ],
                    "properties": {
                      "href": {
                        "description": "A string containing the link's URL . ",
                        "type": "string",
                        "format": "uri - reference"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "jsonapi": {
                  "description": "An object describing the server's implementation",
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/cfo_meeting/{entity}/field_meeting_materials": {
      "get": {
        "summary": "Get CFO Meeting Materials",
        "description": "Endpoint for the paragraph--link_or_file resource type through the <em class=\"placeholder\">field_meeting_materials</em> relationship.",
        "parameters": [{
          "name": "entity",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "The uuid of the node cfo_meeting"
        }],
        "tags": [
          "CFO Meeting"
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "title": "paragraph:link_or_file Schema",
              "description": "Describes the payload for 'paragraph' entities of the 'link_or_file' bundle.",
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/paragraph--link_or_file/properties/data"
                  }
                },
                "meta": {
                  "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                  "type": "object",
                  "additionalProperties": true
                },
                "links": {
                  "type": "object",
                  "additionalProperties": {
                    "description": "A link **MUST** be represented as either: a string containing the link's URL or a link object . ",
                    "type": "object",
                    "required": [
                      "href"
                    ],
                    "properties": {
                      "href": {
                        "description": "A string containing the link's URL . ",
                        "type": "string",
                        "format": "uri - reference"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "jsonapi": {
                  "description": "An object describing the server's implementation",
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/node/cfo_committee": {
      "get": {
        "summary": "List CFO Committees",
        "description": "Endpoint for listing the node--cfo_committee resource type.",
        "parameters": [{
          "name": "page[limit]",
          "in": "query",
          "type": "number",
          "required": false,
          "description": "Limiting the result set to 10 reports is necessary due to the high number of Annual Reports. <p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\" target=\"_blank\">Learn more about Pagination in the Drupal documentation</a>.</p>"
        },
          {
            "name": "page[offset]",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "<p>The offset is the result you want to start with.  An offset of 3 and a <code>page[limit]</code> of 10 will list ten items starting from item 3.  Each JSON response from the API will have built in pagination under <code>links</code>.</p><p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\" target=\"_blank\">Learn more about Pagination in the Drupal documentation</a>.</p>"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "array",
            "required": false,
            "description": "<p>You can sort results in alphabetical order by multiple fields such as <code>title</code> or by author <code>uid.name</code>.</p><p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\" target=\"_blank\">Learn more about sorting in the Drupal documentation</a>.</p>"
          },
          {
            "name": "sort[sort-created][direction]",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "You can change the sorting direction by using either <code>DESC</code> and <code>ASC</code>."
          },
          {
            "name": "include",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Embed related entities in the JSON response under <code>relationships</code>. <p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\" target=\"_blank\">Learn more in the documentation</a>.</p><p><h5>Possible values:</h5><code>node_type, revision_uid, uid, menu_link, field_attachments, field_working_groups</code></p>"
          }
        ],
        "tags": [
          "CFO Committee"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "title": "node:cfo_committee Schema",
              "description": "Committees of the Chief FOIA Officers Council.  Includes title and WYSIWYG description fields.",
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/node--cfo_committee/properties/data"
                  }
                },
                "meta": {
                  "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                  "type": "object",
                  "additionalProperties": true
                },
                "links": {
                  "type": "object",
                  "additionalProperties": {
                    "description": "A link **MUST** be represented as either: a string containing the link's URL or a link object . ",
                    "type": "object",
                    "required": [
                      "href"
                    ],
                    "properties": {
                      "href": {
                        "description": "A string containing the link's URL . ",
                        "type": "string",
                        "format": "uri - reference"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "jsonapi": {
                  "description": "An object describing the server's implementation",
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/node/cfo_committee/{entity}": {
      "get": {
        "summary": "View CFO Committee Details",
        "description": "Endpoint for viewing details for the node--cfo_committee resource type. The individual endpoint contains a <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\" target=\"_blank\">resource object</a></em> with the data for a particular resource or entity.<h5>For Example:</h5><p>You can use the entity ID <code>e324aa8d-341b-4234-be08-3bf3f19c3af8</code> to look up details for this CFO Committee.</p>",
        "parameters": [{
          "name": "entity",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "The uuid of the node cfo_committee"
        }],
        "tags": [
          "CFO Committee"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/node--cfo_committee"
            }
          }
        }
      }
    },
    "/node/cfo_committee/{entity}/field_working_groups": {
      "get": {
        "summary": "CFO Committee Working Groups",
        "description": "<em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#fetching\">Related endpoint</a></em> for the paragraph--working_groups resource type through the <em class=\"placeholder\">field_working_groups</em> relationship. The related endpoint contains a <em class=\"placeholder\"><a href=\"http://jsonapi.org/format/#document-resource-objects\">resource object</a></em> with the data for a particular related resource or entity.",
        "parameters": [{
          "name": "entity",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "The uuid of the node cfo_committee which you can find by using the List CFO Meetings endpoint above. "
        }],
        "tags": [
          "CFO Committee"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "title": "paragraph:working_groups Schema",
              "description": "Describes the payload for 'paragraph' entities of the 'working_groups' bundle.",
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/paragraph--working_groups/properties/data"
                  }
                },
                "meta": {
                  "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                  "type": "object",
                  "additionalProperties": true
                },
                "links": {
                  "type": "object",
                  "additionalProperties": {
                    "description": "A link **MUST** be represented as either: a string containing the link's URL or a link object . ",
                    "type": "object",
                    "required": [
                      "href"
                    ],
                    "properties": {
                      "href": {
                        "description": "A string containing the link's URL . ",
                        "type": "string",
                        "format": "uri - reference"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "jsonapi": {
                  "description": "An object describing the server's implementation",
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/node/cfo_committee/{entity}/field_attachments": {
      "get": {
        "summary": "CFO Committee Attachments",
        "description": "Endpoint for the paragraph--attachments resource type through the <em class=\"placeholder\">field_attachments</em> relationship.",
        "parameters": [{
          "name": "entity",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "The uuid of the node cfo_committee"
        }],
        "tags": [
          "CFO Committee"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "title": "paragraph:attachments Schema",
              "description": "Describes the payload for 'paragraph' entities of the 'attachments' bundle.",
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/paragraph--attachments/properties/data"
                  }
                },
                "meta": {
                  "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                  "type": "object",
                  "additionalProperties": true
                },
                "links": {
                  "type": "object",
                  "additionalProperties": {
                    "description": "A link **MUST** be represented as either: a string containing the link's URL or a link object . ",
                    "type": "object",
                    "required": [
                      "href"
                    ],
                    "properties": {
                      "href": {
                        "description": "A string containing the link's URL . ",
                        "type": "string",
                        "format": "uri - reference"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "jsonapi": {
                  "description": "An object describing the server's implementation",
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/node/cfo_council": {
      "get": {
        "summary": "List CFO Councils",
        "description": "Endpoint for the node--cfo_council resource type which will list all CFO Council Nodes.",
        "parameters": [{
          "name": "page[limit]",
          "in": "query",
          "type": "number",
          "required": false,
          "description": "Limiting the result set to 10 reports is necessary due to the high number of Annual Reports. <p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\" target=\"_blank\">Learn more about Pagination in the Drupal documentation</a>.</p>"
        },
          {
            "name": "page[offset]",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "<p>The offset is the result you want to start with.  An offset of 3 and a <code>page[limit]</code> of 10 will list ten items starting from item 3.  Each JSON response from the API will have built in pagination under <code>links</code>.</p><p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\" target=\"_blank\">Learn more about Pagination in the Drupal documentation</a>.</p>"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "array",
            "required": false,
            "description": "<p>You can sort results in alphabetical order by multiple fields such as <code>title</code> or by author <code>uid.name</code>.</p><p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\" target=\"_blank\">Learn more about sorting in the Drupal documentation</a>.</p>"
          },
          {
            "name": "sort[sort-created][direction]",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "You can change the sorting direction by using either <code>DESC</code> and <code>ASC</code>."
          },
          {
            "name": "include",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Embed related entities in the JSON response under <code>relationships</code>. <p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\" target=\"_blank\">Learn more in the documentation</a>.</p><p><h5>Possible values:</h5><code>node_type, revision_uid, uid, menu_link, field_council_committees</code></p>"
          }
        ],
        "tags": [
          "CFO Council"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "title": "node:cfo_council Schema",
              "description": "The main page for the Chief FOIA Officers Council.  Assign committees to the council.  Meetings will be automatically attached.",
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/node--cfo_council/properties/data"
                  }
                },
                "meta": {
                  "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                  "type": "object",
                  "additionalProperties": true
                },
                "links": {
                  "type": "object",
                  "additionalProperties": {
                    "description": "A link **MUST** be represented as either: a string containing the link's URL or a link object . ",
                    "type": "object",
                    "required": [
                      "href"
                    ],
                    "properties": {
                      "href": {
                        "description": "A string containing the link's URL . ",
                        "type": "string",
                        "format": "uri - reference"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "jsonapi": {
                  "description": "An object describing the server's implementation",
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/node/cfo_council/{entity}": {
      "get": {
        "summary": "Get CFO Council Details",
        "description": "Endpoint for the node--cfo_council resource type. The individual endpoint contains the data for a particular CFO Council.  You can use the CFO Council Entity ID <code>79440b59-6640-460a-8589-2ef2ce3f2bfe</code> as an example.",
        "parameters": [{
          "name": "entity",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "The uuid of the node cfo_council"
        }],
        "tags": [
          "CFO Council"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/node--cfo_council"
            }
          }
        }
      }
    },
    "/node/cfo_page": {
      "get": {
        "summary": "List CFO Pages",
        "description": "Endpoint for listing the node--cfo_page resource type.  The ID returned can be used to get details on an individual CFO Page.",
        "parameters": [{
          "name": "page[limit]",
          "in": "query",
          "type": "number",
          "required": false,
          "description": "Limiting the result set to 10 reports is necessary due to the high number of Annual Reports. <p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\" target=\"_blank\">Learn more about Pagination in the Drupal documentation</a>.</p>"
        },
          {
            "name": "page[offset]",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "<p>The offset is the result you want to start with.  An offset of 3 and a <code>page[limit]</code> of 10 will list ten items starting from item 3.  Each JSON response from the API will have built in pagination under <code>links</code>.</p><p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/pagination\" target=\"_blank\">Learn more about Pagination in the Drupal documentation</a>.</p>"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "array",
            "required": false,
            "description": "<p>You can sort results in alphabetical order by multiple fields such as <code>title</code> or by author <code>uid.name</code>.</p><p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/sorting\" target=\"_blank\">Learn more about sorting in the Drupal documentation</a>.</p>"
          },
          {
            "name": "include",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Embed related entities in the JSON response under <code>relationships</code>. <p><a href=\"https://www.drupal.org/docs/8/modules/jsonapi/includes\" target=\"_blank\">Learn more in the documentation</a>.</p><p><h5>Possible values:</h5><code>node_type, revision_uid, uid, menu_link, field_attachments.</code></p>"
          }
        ],
        "tags": [
          "CFO Page"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "title": "node:cfo_page Schema",
              "description": "Pages for the Chief FOIA Officers Council.  CFO Pages have title, body, and URL slug fields.  They are available via a JSON feed.",
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/node--cfo_page/properties/data"
                  }
                },
                "meta": {
                  "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                  "type": "object",
                  "additionalProperties": true
                },
                "links": {
                  "type": "object",
                  "additionalProperties": {
                    "description": "A link **MUST** be represented as either: a string containing the link's URL or a link object . ",
                    "type": "object",
                    "required": [
                      "href"
                    ],
                    "properties": {
                      "href": {
                        "description": "A string containing the link's URL . ",
                        "type": "string",
                        "format": "uri - reference"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "jsonapi": {
                  "description": "An object describing the server's implementation",
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/node/cfo_page/{entity}": {
      "get": {
        "summary": "Get CFO Page Details",
        "description": "Endpoint for the node--cfo_page resource type details. The individual endpoint contains details for a particular resource or entity.  <p>You can use the entity ID <code>42b31773-2e87-4251-86b0-9a7af5e40940</code> to get details on an example page.</p>",
        "parameters": [{
          "name": "entity",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "The uuid of the node cfo_page"
        }],
        "tags": [
          "CFO Page"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/node--cfo_page"
            }
          }
        }
      }
    },
    "/node/cfo_page/{entity}/field_attachments": {
      "get": {
        "summary": "CFO Page Attachments",
        "description": "Endpoint for the paragraph--attachments resource type through the <em class=\"placeholder\">field_attachments</em> relationship.",
        "parameters": [{
          "name": "entity",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "The uuid of the node cfo_page"
        }],
        "tags": [
          "CFO Page"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "title": "paragraph:attachments Schema",
              "description": "Describes the payload for 'paragraph' entities of the 'attachments' bundle.",
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/paragraph--attachments/properties/data"
                  }
                },
                "meta": {
                  "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                  "type": "object",
                  "additionalProperties": true
                },
                "links": {
                  "type": "object",
                  "additionalProperties": {
                    "description": "A link **MUST** be represented as either: a string containing the link's URL or a link object . ",
                    "type": "object",
                    "required": [
                      "href"
                    ],
                    "properties": {
                      "href": {
                        "description": "A string containing the link's URL . ",
                        "type": "string",
                        "format": "uri - reference"
                      },
                      "meta": {
                        "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "jsonapi": {
                  "description": "An object describing the server's implementation",
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "meta": {
                      "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/webform/submit": {
      "post": {
        "summary": "Submit FOIA Request",
        "description": "<p>You can submit FOIA Requests using the webform endpoint, but you will first need the Request Form for the Agency.  Each Agency has their own rules for which fields are required.  The elements object from the request_form endpoint will display the required fields for that Agency.</p>",
        "consumes": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "formData",
          "type": "string",
          "required": false,
          "description": "The ID of the request_form you received from the request_form endpoint."
        }, {
          "name": "email",
          "in": "formData",
          "type": "string",
          "required": false,
          "description": "The email address of the requester."
        }, {
          "name": "name_first",
          "in": "formData",
          "type": "string",
          "required": false,
          "description": "First Name of requester."
        }, {
          "name": "name_last",
          "in": "formData",
          "type": "string",
          "required": false,
          "description": "Last Name of requester."
        },
          {
            "name": "request_description",
            "in": "formData",
            "type": "string",
            "required": false,
            "description": "A description for your request."
          },
          {
            "name": "request_category",
            "in": "formData",
            "type": "string",
            "required": false,
            "description": "<p>The request category is limited to specific options.</p><p>List of example suggestions:</p> <ul><li><code>media: 'Representative of the news media'</code></li><li><code>educational: 'Educational Institution'</code></li><li><code>scientific: 'Non-commercial scientific institution'</code></li><li><code>commercial: 'Commercial-use requester'</code></li><li><code>other: 'All other requester'</code></li></ul>"
          },
          {
            "name": "phone_number",
            "in": "formData",
            "type": "string",
            "required": false,
            "description": "A description for your request."
          }
        ],
        "tags": ["Submit FOIA Request"],
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "400": {
            "description": "Syntax error"
          },
          "403": {
            "description": "Forbidden: The api_key is missing"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "definitions": {
    "node--agency_component": {
      "title": "node:agency_component Schema",
      "description": "An Agency Component to which a request can be sent and which will be fulfilling requests.",
      "type": "object",
      "required": ["data"],
      "properties": {
        "data": {
          "description": "\\\u0022Resource objects\\\u0022 appear in a JSON:API document to represent resources.",
          "type": "object",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "title": "type",
              "description": "Resource type",
              "enum": ["agency_component"]
            },
            "id": {
              "type": "string",
              "title": "Resource ID",
              "format": "uuid",
              "maxLength": 128
            },
            "attributes": {
              "description": "Entity attributes",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "status": {
                  "type": "boolean",
                  "title": "Published",
                  "default": true
                },
                "title": {
                  "type": "string",
                  "title": "Agency Component Name",
                  "maxLength": 255
                },
                "moderation_state": {
                  "type": "string",
                  "title": "Moderation state",
                  "maxLength": 255,
                  "description": "The moderation state of this piece of content."
                },
                "description": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "title": "Text"
                    },
                    "format": {
                      "type": "string",
                      "title": "Text format"
                    },
                    "summary": {
                      "type": "string",
                      "title": "Summary"
                    }
                  },
                  "required": ["value"],
                  "title": "Agency Component Description",
                  "description": "Describes the Agency Component, and provides any textual information needed."
                },
                "abbreviation": {
                  "type": "string",
                  "title": "Abbreviation",
                  "maxLength": 50
                },
                "telephone": {
                  "type": "string",
                  "title": "Telephone"
                },
                "request_data_complex_average_days": {
                  "type": "string",
                  "title": "Complex Average Days",
                  "maxLength": 255
                },
                "request_data_complex_highest_days": {
                  "type": "string",
                  "title": "Complex Highest Days",
                  "maxLength": 255
                },
                "request_data_complex_lowest_days": {
                  "type": "string",
                  "title": "Complex Lowest Days",
                  "maxLength": 255
                },
                "request_data_complex_median_days": {
                  "type": "string",
                  "title": "Complex Median Days",
                  "maxLength": 255
                },
                "email": {
                  "type": "array",
                  "title": "Email",
                  "items": {
                    "type": "string",
                    "title": "Email",
                    "format": "email"
                  }
                },
                "request_data_expedited_average_days": {
                  "type": "string",
                  "title": "Expedited Average Days",
                  "maxLength": 255
                },
                "request_data_expedited_highest_days": {
                  "type": "string",
                  "title": "Expedited Highest Days",
                  "maxLength": 255
                },
                "request_data_expedited_lowest_days": {
                  "type": "string",
                  "title": "Expedited Lowest Days",
                  "maxLength": 255
                },
                "request_data_expedited_median_days": {
                  "type": "string",
                  "title": "Expedited Median Days",
                  "maxLength": 255
                },
                "is_centralized": {
                  "type": "boolean",
                  "title": "Is Centralized",
                  "description": "Denotes whether or not this Agency Component belongs to a centralized agency. If it is the only component in the agency, the value should be set to true.",
                  "default": false
                },
                "portal_submission_format": {
                  "type": "string",
                  "title": "Portal Submission Format",
                  "enum": ["email", "api"],
                  "description": "Select the means by which the Portal should submit requests to the Agency Component.",
                  "default": "email"
                },
                "reading_rooms": {
                  "type": "array",
                  "title": "Reading Rooms",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "title": "URI"
                      },
                      "title": {
                        "type": "string",
                        "title": "Link text"
                      }
                    },
                    "title": "Options"
                  }
                },
                "field_rep_exp": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "title": "Date value",
                      "format": "date"
                    }
                  },
                  "required": ["value"],
                  "title": "Report Expiration Date",
                  "description": "If the agency\/component no longer exists, please enter the last day of the FY for which the agency\/component submitted an Annual FOIA Report. Agencies\/Components with an expiration date will not display data for subsequent FY after that date."
                },
                "field_rep_start": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "title": "Date value",
                      "format": "date"
                    }
                  },
                  "required": ["value"],
                  "title": "Report Start Date",
                  "description": "Please enter the first day of the FY that this agency\/component began reporting in the Annual FOIA Report. All agencies that have submitted or are submitting Annual FOIA Reports must have a Reporting Start Date."
                },
                "request_data_year": {
                  "type": "string",
                  "title": "Request Data Year",
                  "maxLength": 5
                },
                "request_data_simple_average_days": {
                  "type": "string",
                  "title": "Simple Average Days",
                  "maxLength": 255
                },
                "request_data_simple_highest_days": {
                  "type": "string",
                  "title": "Simple Highest Days",
                  "maxLength": 255
                },
                "request_data_simple_lowest_days": {
                  "type": "string",
                  "title": "Simple Lowest Days",
                  "maxLength": 255
                },
                "request_data_simple_median_days": {
                  "type": "string",
                  "title": "Simple Median Days",
                  "maxLength": 255
                },
                "submission_address": {
                  "type": "object",
                  "properties": {
                    "langcode": {
                      "type": "string",
                      "title": "The language code"
                    },
                    "country_code": {
                      "type": "string",
                      "title": "The two-letter country code"
                    },
                    "administrative_area": {
                      "type": "string",
                      "title": "The top-level administrative subdivision of the country"
                    },
                    "locality": {
                      "type": "string",
                      "title": "The locality (i.e. city)"
                    },
                    "dependent_locality": {
                      "type": "string",
                      "title": "The dependent locality (i.e. neighbourhood)"
                    },
                    "postal_code": {
                      "type": "string",
                      "title": "The postal code"
                    },
                    "sorting_code": {
                      "type": "string",
                      "title": "The sorting code"
                    },
                    "address_line1": {
                      "type": "string",
                      "title": "The first line of the address block"
                    },
                    "address_line2": {
                      "type": "string",
                      "title": "The second line of the address block"
                    },
                    "organization": {
                      "type": "string",
                      "title": "The organization"
                    },
                    "given_name": {
                      "type": "string",
                      "title": "The given name"
                    },
                    "additional_name": {
                      "type": "string",
                      "title": "The additional name"
                    },
                    "family_name": {
                      "type": "string",
                      "title": "The family name"
                    }
                  },
                  "title": "Submission Address",
                  "description": "Note: If the zip-code provided is not valid for that State, an error message saying the zip-code format is invalid will be displayed."
                },
                "submission_fax": {
                  "type": "string",
                  "title": "Submission Fax"
                },
                "submission_web": {
                  "type": "object",
                  "properties": {
                    "uri": {
                      "type": "string",
                      "title": "URI"
                    },
                    "title": {
                      "type": "string",
                      "title": "Link text"
                    }
                  },
                  "title": "Submission Web"
                },
                "website": {
                  "type": "object",
                  "properties": {
                    "uri": {
                      "type": "string",
                      "title": "URI"
                    },
                    "title": {
                      "type": "string",
                      "title": "Link text"
                    }
                  },
                  "title": "Website",
                  "description": "The full URL of the Agency Component\\\u0027s website."
                }
              },
              "required": ["title"]
            },
            "relationships": {
              "description": "Entity relationships",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "agency": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["agency"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Agency"
                },
                "foia_officers": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["type", "id"],
                        "properties": {
                          "type": {
                            "type": "string",
                            "title": "Referenced resource",
                            "enum": ["foia_personnel"]
                          },
                          "id": {
                            "type": "string",
                            "title": "Resource ID",
                            "format": "uuid",
                            "maxLength": 128
                          }
                        }
                      }
                    }
                  },
                  "title": "FOIA Officers"
                },
                "field_misc": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["type", "id"],
                        "properties": {
                          "type": {
                            "type": "string",
                            "title": "Referenced resource",
                            "enum": ["foia_personnel"]
                          },
                          "id": {
                            "type": "string",
                            "title": "Resource ID",
                            "format": "uuid",
                            "maxLength": 128
                          }
                        }
                      }
                    }
                  },
                  "title": "Misc"
                },
                "public_liaisons": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["type", "id"],
                        "properties": {
                          "type": {
                            "type": "string",
                            "title": "Referenced resource",
                            "enum": ["foia_personnel"]
                          },
                          "id": {
                            "type": "string",
                            "title": "Resource ID",
                            "format": "uuid",
                            "maxLength": 128
                          }
                        }
                      }
                    }
                  },
                  "title": "Public Liaisons"
                },
                "paper_receiver": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["foia_personnel"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Receiver"
                },
                "request_form": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["webform"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Request Submission Form"
                },
                "service_centers": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["type", "id"],
                        "properties": {
                          "type": {
                            "type": "string",
                            "title": "Referenced resource",
                            "enum": ["foia_personnel"]
                          },
                          "id": {
                            "type": "string",
                            "title": "Resource ID",
                            "format": "uuid",
                            "maxLength": 128
                          }
                        }
                      }
                    }
                  },
                  "title": "Service Centers"
                }
              }
            },
            "links": {
              "type": "object",
              "additionalProperties": {
                "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
                "type": "object",
                "required": ["href"],
                "properties": {
                  "href": {
                    "description": "A string containing the link\u0027s URL . ",
                    "type": "string",
                    "format": "uri - reference"
                  },
                  "meta": {
                    "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        },
        "meta": {
          "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
          "type": "object",
          "additionalProperties": true
        },
        "links": {
          "type": "object",
          "additionalProperties": {
            "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
            "type": "object",
            "required": ["href"],
            "properties": {
              "href": {
                "description": "A string containing the link\u0027s URL . ",
                "type": "string",
                "format": "uri - reference"
              },
              "meta": {
                "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "jsonapi": {
          "description": "An object describing the server\u0027s implementation",
          "type": "object",
          "properties": {
            "version": {
              "type": "string"
            },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        }
      },
      "additionalProperties": true
    },
    "paragraph--agenda_item": {
      "title": "paragraph:agenda_item Schema",
      "description": "Describes the payload for 'paragraph' entities of the 'agenda_item' bundle.",
      "type": "object",
      "required": [
        "data"
      ],
      "properties": {
        "data": {
          "description": "\\\"Resource objects\\\" appear in a JSON:API document to represent resources.",
          "type": "object",
          "required": [
            "type",
            "id"
          ],
          "properties": {
            "type": {
              "type": "string",
              "title": "type",
              "description": "Resource type",
              "enum": [
                "paragraph--agenda_item"
              ]
            },
            "id": {
              "type": "string",
              "title": "Resource ID",
              "format": "uuid",
              "maxLength": 128
            },
            "attributes": {
              "description": "Entity attributes",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "drupal_internal__id": {
                  "type": "integer",
                  "title": "ID"
                },
                "drupal_internal__revision_id": {
                  "type": "integer",
                  "title": "Revision ID"
                },
                "langcode": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "title": "Language code"
                    },
                    "language": {
                      "type": "language_reference",
                      "title": "Language object",
                      "description": "The referenced language"
                    }
                  },
                  "required": [
                    "value"
                  ],
                  "title": "Language code",
                  "description": "The paragraphs entity language code."
                },
                "status": {
                  "type": "boolean",
                  "title": "Published",
                  "default": true
                },
                "created": {
                  "type": "number",
                  "title": "Authored on",
                  "format": "utc-millisec",
                  "description": "The time that the Paragraph was created."
                },
                "parent_id": {
                  "type": "string",
                  "title": "Parent ID",
                  "maxLength": 255,
                  "description": "The ID of the parent entity of which this entity is referenced."
                },
                "parent_type": {
                  "type": "string",
                  "title": "Parent type",
                  "maxLength": 32,
                  "description": "The entity parent type to which this entity is referenced."
                },
                "parent_field_name": {
                  "type": "string",
                  "title": "Parent field name",
                  "maxLength": 32,
                  "description": "The entity parent field name to which this entity is referenced."
                },
                "behavior_settings": {
                  "type": "string",
                  "title": "Behavior settings",
                  "description": "The behavior plugin settings",
                  "default": "a:0:{}"
                },
                "default_langcode": {
                  "type": "boolean",
                  "title": "Default translation",
                  "description": "A flag indicating whether this is the default translation.",
                  "default": true
                },
                "revision_default": {
                  "type": "boolean",
                  "title": "Default revision",
                  "description": "A flag indicating whether this was a default revision when it was saved."
                },
                "revision_translation_affected": {
                  "type": "boolean",
                  "title": "Revision translation affected",
                  "description": "Indicates if the last edit of a translation belongs to current revision."
                },
                "field_agenda_item_description": {
                  "type": "string",
                  "title": "Description"
                },
                "field_agenda_item_time": {
                  "type": "integer",
                  "title": "Time"
                },
                "field_agenda_item_title": {
                  "type": "string",
                  "title": "Title",
                  "maxLength": 255
                }
[...]
