@mixin has-icon($icon, $width: 2.4rem, $height: 2.4rem, $float: left, $margins: 0 $space-1x 0 0, $display: block) {
  width: $width;
  height: $height;
  background-image: url($icon);
  margin: $margins;
  float: $float;
  display: $display;
  background-repeat: no-repeat;
  content: "";
}
