@mixin text-divider($background-color: $color-primary-alt-light) {
  width: 80px;
  height: 5px;
  background-color: $background-color;
  border-radius: 20px;
  display: block;
  margin-top: $space-4x;
  margin-bottom: $space-4x;
}
