/* Touch Safe Mixin
 *
 * Use this mixin to add a touch safe zone to links and other interactive items
 * for touch screen accessibility.
 */

$touch-affordance: 44px;

@mixin touch-safe() {
  min-width: 44px;
  min-height: 44px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
