$font-weight-1: 900;
$font-weight-2: 700;
$font-weight-3: 600;
$font-weight-4: 500;

$h1-leading: 1.4;
$h2-leading: $heading-line-height; // 1.3
$h3-leading: $base-line-height; // 1.5
$h4-leading: $base-line-height;
$h5-leading: $heading-line-height;
$p-leading:  1.5;

$body-copy-max-width: $space-1x * 78;

@include font-face(
  'Source Sans Pro',
  '#{$font-path}/sourcesanspro-semibold-webfont',
  $font-weight-4,
  normal,
  $file-formats: woff2 woff ttf
);

body {
  color: $color-primary-darkest;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


// Heading 1
%h1 {
  font-size: $h1-font-size-mobile;
  font-family: $font-serif;
  line-height: $h1-leading;
  color: $color-primary-darkest;
  @media all and (min-width: $small-screen) {
    font-size: $h1-font-size;
  }
}

h1 {
  @extend %h1
}

// Subhead 1
%h2 {
  font-size: $h2-font-size-mobile;
  font-family: $font-sans;
  font-weight: normal;
  line-height: $h2-leading;
  color: $color-primary-darkest;
  @media all and (min-width: $small-screen) {
    font-size: $h2-font-size;
  }
}

h2 {
  @extend %h2;
}

// Heading 2
h3 {
  font-size: $h3-font-size-mobile;
  font-family: $font-serif;
  line-height: $h3-leading;
  color: $color-primary-darkest;
  &.sans {
    @media all and (min-width: $small-screen) {
      font-size: $h3-font-size-sans;
    }
    font-family: $font-sans;
    font-weight: $font-semibold;
  }
  @media all and (min-width: $small-screen) {
    font-size: $h3-font-size;
  }
}

// Subhead 2
h4 {
  font-size: $h4-font-size-mobile;
  font-family: $font-serif;
  line-height: $h4-leading;
  color: $color-primary-darkest;
  @media all and (min-width: $small-screen) {
    font-size: $h4-font-size;
  }
}

// Form labels/menu items
h5 {
  font-size: $h5-font-size;
  font-family: $font-sans;
  line-height: $h5-leading;
  font-weight: $font-weight-4;
  color: $color-primary-darkest;
}

p {
  line-height: $p-leading;
  color: $color-primary-darkest;
  &.secondary-text {
    font-size: 1.5rem;
  }
}

// Body copy max-width
h1,
h2,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: $body-copy-max-width;
}

%external-url {
  margin-right: 2rem;
  position: relative;

  &:after {
    content: '\01F517'; // TODO This should be a background image, waiting for glyphs from design
    display: inline-block;
    height: 1rem;
    position: absolute;
    width: 1rem;
  }
}

#main {
  a[href^='http']:not([href*='foia.gov/']),
  a[target=_blank] {
    @extend %external-url;
  }
}

%a-colors {
  color: $color-primary-darkest;
  &:hover,
  &:active {
    color: $color-primary;
  }
  &:visited {
    color: $color-primary-darkest;
    &:hover,
    &:active {
      color: $color-primary;
    }
  }
}

address p {
  margin: 0;
}

p a {
  @extend %a-colors;
  text-decoration: none;
  border-bottom: 1px solid $color-primary-alt;
}
