/* Temporary styles to make adjusting the existing styles easier. */

body {
  background-color: #121B26;
}

#background {
  background-position: 0 25px; // to accommodate gov banner
}

#headNav img {
  max-width: none;
}

#hero {
  background-repeat: no-repeat;
  h1 {
    font-size: 32px;
    margin-top: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
  .herobuttons {
    float: none;
    display: inline-block;
  }
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $font-serif;
}

a {
  text-decoration: none;
}

ol,
ul {
  padding-left: 0;
}

ul.tabs li {
  text-align: center;
  a {
    padding-left: 0px;
  }
}

.reportText {
  margin-top: -30px;
}

.articleimageborder {
  height: 200px;
  + h3 {
    clear: none;
    font-size: 1.6rem;
  }
  + h3 + p {
    font-size: 1.4rem;
    margin: 0;
  }
  p {
    margin: 0;
  }
}

[type=checkbox],
[type=radio] {
  position: static;
  left: 0;
  display: inline-block;
  width: 10px;
  height: 1em;
}
/* temp data page styles */
.agencyTextbox {
  float: left;
}
label[for=addagency1] {
  display: none;
}
input.addAgency {
  background-color: transparent;
  margin: 0;
}
/* search temp styles */
#edit-submit {
  right: 21px;
  top: -23px;
}

/* page subnav temp styles */
#subNav li a {
  line-height: 1;
  height: 40px;
}
/* footer temp styles */
.footer a {
  color: #718BA7;
}

.footer span {
  display: none; // this isn't accessible and the whole point is to be accessible
}
/* end temp styles */
