/* Temporary styles to make adjusting the existing styles easier. */

body {
  background-color: #121B26; /* leave until we remove gradients */
}

#background {
  background-position: 0 25px; // to accommodate gov banner
}

html,
p {
  font-family: $font-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans;
}

a {
  text-decoration: none;
}

ol,
ul {
  padding-left: 0;
}

ul.tabs li {
  text-align: center;
  a {
    padding-left: 0px;
  }
}

/* hide legacy labels and legends */
#selectReport,
#dataTable {
  label,
  legend {
    @extend .usa-sr-only;
  }
}

/* this is necessary because the markup in the HTML doesn't match the markup WDS expects, so it hides the whole thing */
[type=checkbox],
[type=radio] {
 // position: static;
 // left: 0;
 // display: inline-block;
 // width: 10px;
 // height: 1em;
}

/* home page temp overrides */
#headNav img {
  max-width: none;
}

#hero {
  background-repeat: no-repeat;
  h1 {
    font-size: 32px;
    margin-top: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
  .herobuttons {
    float: none;
    display: inline-block;
  }
}
.articleimageborder {
  height: 200px;
  + h3 {
    clear: none;
    font-size: 1.6rem;
  }
  + h3 + p {
    font-size: 1.4rem;
    margin: 0;
  }
  p {
    margin: 0;
  }
}

/* temp data page styles */
.agencyTextbox {
  float: left;
}

input.addAgency,
input.addAgency:hover,
input.deleteAgency,
input.deleteAgency:hover{
  background-color: transparent;
  margin: 0;
}

/* search temp styles */
.reportText {
  margin-top: 0px !important;
}

/* page subnav temp styles */
#subNav li a {
  line-height: 1;
  height: 40px;
}
/* footer temp styles */
.footer a {
  color: #718BA7;
}

.footer span {
  display: none; // this isn't accessible and the whole point is to be accessible
}

/* end temp styles */
