/***********************************
 * USWDS variable overrides
 * ********************************/
$h1-font-size: 3.5rem; // heading 1
$h2-font-size: 3rem;   // subhead 1
$h3-font-size: 2rem;   // heading 2
// TODO: Make a sans and a serif version of h4 (probably h3 too?)
$h4-font-size: 2.2rem; // subhead 2
$h5-font-size: 1.7rem; // menu/label items
$base-font-size: 1.7rem;
$small-font-size: 1.5rem;

// Colors in use (USWDS defaults in use are included as comments for reference):
// $color-primary: #0071bc;
// $color-primary-darker: #205493;
// $color-primary-darkest: #112e51;
// $color-gray-light: #AEB0B5;
$color-primary-alt: #5EAFF8;
$color-primary-alt-light: #8AC2F4;
$color-gray-dark: #212121; // same as USWDS $color-base
$color-gray: #5B616A;
$color-gray-lightest: #F8F8F8;
$color-focus: $color-primary-alt-light;

// Relative font and image file paths
$font-path:   '/assets/fonts' !default;
$image-path:  '/assets/img' !default;

/***********************************
 * New variable declarations
 * ********************************/
//Spacing vars
$space-1x: 0.8rem;
$space-2x: 1.6rem;
$space-3x: 2.4rem;
$space-4x: 3.2rem;
$space-5x: 4.0rem;

@import '../../node_modules/uswds/src/stylesheets/uswds';
