/***********************************
 * USWDS variable overrides
 * ********************************/
$h1-font-size: 3.5rem; // heading 1
$h2-font-size: 3rem;   // subhead 1
$h3-font-size: 2rem;   // heading 2
$h4-font-size: 2.2rem; // subhead 2
$h5-font-size: 1.7rem; // menu/label items
$base-font-size: 1.7rem;
$small-font-size: 1.5rem;

// Colors in use (USWDS defaults in use are included as comments for reference):
// $color-primary-darker: #205493;
// $color-gray-light: #AEB0B5;
// $color-primary: #0071bc;
$color-primary-alt: #5EAFF8;
$color-primary: $color-primary-alt;
$color-primary-alt-light: #92C8F6;
$color-primary-alt-lightest: #DEF0FF;
$color-primary-alt-darker: #306092;
$color-primary-darkest: #122E51;
$color-link-visited: #4c2c92;
$color-gray-dark: #212121; // same as USWDS $color-base
$color-gray-dark-medium: #323a45;
$color-gray: #5B616A;
$color-gray-light: #D0D0D0;
$color-gray-lighter: #F1F1F1;
$color-gray-lightest: #F8F8F8;
$color-white: #FFFFFF;
$color-focus: $color-primary-alt-light;

// Mobile First breakpoints
$small-screen: 481px;
$medium-screen: 600px;
$large-screen: 1201px;

// Mobile First Height Breakpoints
$small-screen-height:  360px !default;
$medium-screen-height: 600px !default;
$large-screen-height:  850px !default;


// Relative font and image file paths
$font-path:   '/assets/fonts' !default;
$image-path:  '/assets/img' !default;

/***********************************
 * New variable declarations
 * ********************************/
// alternative heading styles
$h3-font-size-sans: 2.2rem;
$h1-font-size-mobile: 3.2rem;
$h2-font-size-mobile: 2.7rem;
$h3-font-size-mobile: 2rem;
$h4-font-size-mobile: 1.9rem;

//Spacing vars
$space-1x: 0.8rem;
$space-2x: 1.6rem;
$space-3x: 2.4rem;
$space-4x: 3.2rem;
$space-5x: 4.0rem;

// WDS's breakpoints just aren't flexible enough
$medium-large-screen: 800px;
$nav-width: 800px;

// WDS doesn't ship with semibold source sans pro
$font-semibold: 500;

$form-max-width: 46rem;

// Icons
$icon-arrow-thick: '/img/icon-arrow-thick.svg';
$icon-arrow-thin: '/img/icon-arrow-thin.svg';
$icon-book: '/img/picons/icon-book.svg';
$icon-caret: '/img/icon-caret.svg';
$icon-clock: '/img/picons/icon-clock.svg';
$icon-envelope: '/img/picons/icon-envelope.svg';
$icon-external-link: '/img/icon-external-link.svg';
$icon-file-attachment: '/img/picons/icon-file-attachment.svg';
$icon-glossary: '/img/icon-glossary.svg';
$icon-laptop: '/img/picons/icon-laptop.svg';
$icon-minus: '/img/icon-minus.svg';
$icon-pencil: '/img/picons/icon-pencil.svg';
$icon-person: '/img/picons/icon-person.svg';
$icon-phone: '/img/picons/icon-phone.svg';
$icon-plus: '/img/icon-plus.svg';
$icon-print: '/img/picons/icon-print.svg';
$icon-spyglass: '/img/picons/icon-spyglass.svg';

$icon-book-light: '/img/picons/icon-book-light.svg';
$icon-clock-light: '/img/picons/icon-clock-light.svg';
$icon-envelope-light: '/img/picons/icon-envelope-light.svg';
$icon-glossary-light: '/img/icon-glossary-light.svg';
$icon-laptop-light: '/img/picons/icon-laptop-light.svg';
$icon-minus-light: '/img/icon-minus-light.svg';
$icon-pencil-light: '/img/picons/icon-pencil-light.svg';
$icon-person-light: '/img/picons/icon-person-light.svg';
$icon-phone-light: '/img/picons/icon-phone-light.svg';
$icon-plus-light: '/img/icon-plus-light.svg';

$icon-question-circle: '/img/fontawesome/icon-question-circle.svg';
$icon-close-button: '/img/fontawesome/times-circle-solid.svg';

$icon-arrow-both-down: '/img/fontawesome/arrow-both-down.svg';
$icon-arrow-both-up: '/img/fontawesome/arrow-both-up.svg';
$icon-arrow-both-none: '/img/fontawesome/arrow-both-none.svg';

@import '../../node_modules/uswds/src/stylesheets/uswds';
