// HTML Element: Headings

h1,
%h1 {
  font-size: 3.2rem;
  font-family: settings-font-family(heading);
  line-height: 1.4;
  color: settings-color(brand, blue, dark-1);

  @include breakpoint(settings-breakpoint(mobile-lg)) {
    font-size: 3.5rem;
  }
}

h2,
%h2 {
  font-size: 2.7rem;
  font-family: settings-font-family(ui);
  font-weight: normal;
  line-height: 1.3;
  color: settings-color(brand, blue, dark-1);

  @include breakpoint(settings-breakpoint(mobile-lg)) {
    font-size: 3rem;
  }
}

h3,
%h3 {
  font-size: 2rem;
  font-family: settings-font-family(heading);
  line-height: 1.5;
  color: settings-color(brand, blue, dark-1);

  @include breakpoint(settings-breakpoint(mobile-lg)) {
    font-size: 2rem;
  }
}

h4,
%h4 {
  font-size: 1.9rem;
  font-family: settings-font-family(heading);
  line-height: 1.5;
  color: settings-color(brand, blue, dark-1);

  @include breakpoint(settings-breakpoint(mobile-lg)) {
    font-size: 2.2rem;
  }
}

h5,
%h5 {
  font-size: 1.7rem;
  font-family: settings-font-family(ui);
  line-height: 1.3;
  font-weight: settings-font-weight(medium);
  color: settings-color(brand, blue, dark-1);
}
