.flex-container {
  display: flex;
  max-width: 1200px; //TODO: inherit from usa-grid
  .sidebar {
    flex-grow: 5; // approximate the 5/7 column split
  }
  .sidebar_content {
    flex-grow: 7;
  }
}
