$hide-tabs-width: 768px;

.grid-flex {
  display: flex;
  justify-content: space-between;
}
.sidebar {
  display: none;
  @media screen and (min-width: $hide-tabs-width) {
    display: block;
    flex-basis: auto;
    flex-grow: 1;
    overflow: hidden; //the tabs are set to height: 100%, which overflows into the footer slightly
  }
  @media screen and (min-width: $medium-large-screen) {
    flex-grow: 5;
    max-width: 420px; //width from visual design
  }
  ul {
    list-style: none;
    &.sidebar_tab-controls {
      margin: 0;
      li {
        display: inline-block;
        margin-bottom: 0;
        a {
          padding: 1rem $space-4x;
          display: inline-block;
          width: 100%;
        }
      }
    }
  }
}

.sidebar > ul {
  margin: 0;
}

.sidebar section {
  h2 {
    font-weight: $font-bold;
    margin-top: 0;
  }
  h5 {
    margin-top: 0;
    line-height: 1.5;
  }

  p {
    line-height: 1.5;
  }
  section {
    padding: $space-5x 0 0;
    margin: $space-5x 0 0;
    &> h2,
    &> h3,
    &> h4 {
      margin-top: 0;
    }
  }
}

.sidebar_tabs {
  margin-top: 0;
  height: 100%;
  .tab_active {
    padding: $space-5x $space-3x $space-3x $space-3x;
    height: 100%;
  }
}

.sidebar_content {
  flex-basis: auto;
  flex-grow: 6;
  @media screen and (min-width: $medium-screen) {
    margin-left: 4%;
    min-width: 60%;
  }
  //approx 1 column + gutter in WDS grid at size
  @media screen and (min-width: 1000px) {
    margin-left: 8%;
  }
}

/* We aren't using this as a progress bar right now, so don't style it like one.
 * Styles for the progress bar look are in modules/sidebar_timeline. */
.sidebar_progress-bar {
  margin: 0;
  li {
    border-left: 3px solid $color-primary-alt-light;
    padding-left: $space-2x;
    margin-bottom: $space-2x;
    a {
      &:hover,
      &:active {
        border-bottom: 1px solid $color-white;
      }
    }
  }
}

.has_sidebar {
  background-color: $color-gray-lightest;
}
