  <div class="skip"><a href="#main">Skip to Main Content</a>|<a href="#footerLinks">Skip to Footer</a></div>
  <div id="headNav" class="usa-grid-full">
    <div class="usa-width-one-third"><a href="{{ "/" | prepend: site.baseurl }}"><img src="{{ "/images/foia-title-final.jpg" | prepend: site.baseurl }}" alt="FOIA.gov" width="330" height="80" class="foiaTitle" /></a></div>
    <div class="usa-width-two-thirds">
       <ul class="usa-unstyled-list">
         <li><a href="{{ "/news.html" | prepend: site.baseurl }}">News</a></li>
         <li><a href="{{ "/faq.html" | prepend: site.baseurl }}">FAQs</a></li>
         <li><a href="{{ "/index-es.html" | prepend: site.baseurl }}">en Espa&ntilde;ol</a></li>
         <li><a href="{{ "/feedback.html" | prepend: site.baseurl }}">Feedback</a></li>
         <li><a href="{{ "/report-makerequest.html" | prepend: site.baseurl }}">FOIA Contacts</a></li>
      </ul>
    </div>
  </div>
  <div id="tabs" class="usa-grid-full">
    <div id="tabnav">
      <ul>
        <li><a href="{{ "/" | prepend: site.baseurl }}" class="home{% if page.navigation == nil or page.navigation == 'home' %} selected{% endif %}"><p>Home</p></a></li>
        <li><a href="{{ "/request/" | prepend: site.baseurl }}" class="request{% if page.navigation == 'request' %} selected{% endif %}"><p>Request</p></a></li>
        <li><a href="{{ "/data.html" | prepend: site.baseurl }}" class="data{% if page.navigation == 'data' %} selected{% endif %}"><p>Data</p></a></li>
        <li><a href="{{ "/reports.html" | prepend: site.baseurl }}" class="reports{% if page.navigation == 'reports' %} selected{% endif %}"><p>Reports</p></a></li>
        <li><a href="{{ "/search.html" | prepend: site.baseurl }}" class="find{% if page.navigation == 'find' %} selected{% endif %}"><p>Find</p></a></li>
        <li><a href="{{ "/about.html" | prepend: site.baseurl }}" class="about{% if page.navigation == 'about' %} selected{% endif %}"><p>Learn</p></a></li>
      </ul>
    </div>
  </div>
