{% assign close_action = page.popup-close-action | default: 'popupCloseToData' %}
<div id="shadowFilter" class="blockout" style="display:none;"></div>
<div id="exitMsg" class="exitMsg" style="display:none;"></div>
<!-- Start Popup Window -->
<div id="popupMsg" class="popupWindow" style="display:none;">
       <div class="popupClose"><a href="javascript:{{ close_action }}();">close</a><a href="javascript:{{ close_action }}();"><img src="/images/popup-close.gif" alt="Close Window" /></a></div>
       <div class="clear"></div>
       <div class="popupBody" id="popupMsgBody">
               <!-- Popup Body -->
               {{ page.popup }}
       </div>
</div>
<!-- End Popup Window -->
<!-- Start Popup Window -->
<div id="componentSelection" class="popupWindow" style="display:none;">
       <div class="popupClose"><a href="javascript:popupWinClose();">close</a><a href="javascript:popupWinClose();"><img src="/images/popup-close.gif" alt="Close Window" /></a></div>
       <div class="clear"></div>
       <input type="hidden" id="agencyName" value="DOJ" />
       <!--Redundant Link::<div style="float:right; margin: 30px 30px 0 0;"><a href="javascript:setAgencyComponent();" class="setButton"><span>Set</span></a></div>-->
       <h1>SELECT COMPONENTS</h1>
       <div class="popupBody" id="componentSelectionData">
               <!-- Popup Body -->
       </div>
       <div style="float: right; margin: 0 30px 30px 30px;">
    <a href='javascript:clearAgencyComponent();' class="clearButton" style="font-size: 18px; margin: 0 90px 0 0;"><span>Start a New Search</span></a>
    <a href="javascript:setAgencyComponent();" class="setButton" style="float: right; margin: -29px 0 0 0;"><span>Set</span></a></div>
       <div class=\"clear\"></div>
</div>
<!-- End Popup Window -->
<!-- Start Popup Window -->
<div id="popupVideo" class="popupVideo" style="display:none;">
</div>
<!-- End Popup Window -->
