<div id="shadowFilter" class="blockout" style="display:none;"></div>
<div id="exitMsg" class="exitMsg" style="display:none;"></div>
<!-- Start Popup Window -->
<div id="popupMsg" class="popupWindow" style="display:none;">
       <div class="popupClose"><a href="javascript:popupCloseToData();">close</a><a href="javascript:popupCloseToData();"><img src="/images/popup-close.gif" alt="Close Window" /></a></div>
       <div class="clear"></div>
       <div class="popupBody" id="popupMsgBody">
               <!-- Popup Body -->
       </div>
</div>
<!-- End Popup Window -->
