<script src="{{ site.baseurl }}/assets/js/extlink.min.js"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    runExtlink();
  }, false);

  function runExtlink() {
    extlink({
      title: 'You are now leaving this agency website.',
      ariaLabel: "Links to other government and non-government sites will typically appear with the “external link” icon to indicate that you are leaving the Department of Justice website when you click the link.",
      exclude: ["justice.gov","fbi.gov", "dea.gov", "atf.gov", "ojp.gov", "cops.usdoj.gov", "justicegrants.usdoj.gov", "bja.ojp.gov", "bjs.ojp.gov", "nij.ojp.gov", "ojjdp.ojp.gov", "ovc.ojp.gov", "smart.ojp.gov", "oig.justice.gov", "tips.fbi.gov", "bop.gov", "usmarshals.gov", "bjs.gov", "nij.gov", "cops.gov", "ojp.gov", "bja.gov", "bjs.gov", "nij.gov", "ovc.gov", "cops.usdoj.gov", "unicor.gov", "unicor.gov", "ovcttac.gov", "ovc.ojp.gov", "ojjdp.gov", "ada.gov", "ada.gov", "beta.ada.gov", "ic3.gov", "vault.fbi.gov", "bankrobbers.fbi.gov", "deadiversion.usdoj.gov", "ncjrs.gov", "nicic.gov", "nicic.gov", "vcf.gov", "getsmartaboutdrugs.gov", "justthinktwice.gov", "getsmartaboutdrugs.gov", "crimesolutions.ojp.gov", "nsopw.gov","foia.gov","dev-admin.foia.gov","admin.foia.gov","stg-admin.foia.gov","uat-admin.foia.gov", "dev-api.foia.gov","admin.foia.gov","stg-api.foia.gov","uat-api.foia.gov"],
      target: '_blank',
      rel: 'noopener',
      className: 'ext',
      strokeColor: '#122E51',
      showForMail: false
    });
  }
</script>
