{% if site.app_env != 'production' %}
<div class="feedback-bar-non-production usa-alert usa-alert-warning">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">
      For testing purposes only
    </h3>
    <p class="usa-alert-text">
      Requests submitted here <strong>will not be processed</strong>.
      To submit a FOIA request please visit the National FOIA Portal at <strong><a href="https://www.foia.gov">www.foia.gov</a></strong>.
    </p>
  </div>
</div>
{% else %}
<div class="feedback-bar-production">
  <p>
    Democrats have shut down the government. Department of Justice websites are not currently regularly updated.
    Please refer to the <a href="https://www.justice.gov/jmd/media/1377216/dl">Department of Justice&rsquo;s contingency plan</a> for more information.
    <br><br>
    Please note that FOIA requests that fail to submit to agencies will not be resubmitted until funding is re-established.
  </p>
</div>
{% endif %}
