<!-- Start Footer -->

<div id="shadowFilter" class="blockout" style="display:none;"></div>
<div id="exitMsg" class="exitMsg" style="display:none;"></div>
<footer class="usa-footer">
  <div class="usa-grid">
    <div class="usa-width-two-thirds">
      <div class="usa-grid">
        <div class="usa-width-one-half">
            <img class="footer-logo" src="{{ site.baseurl }}/images/legacylogoonwhite.png" alt="Foia.gov">
        </div>
        <div class="usa-width-one-half">
          <h6>Contact</h6>
          <ul class="usa-unstyled-list">
            <li>Something here</li>
            <li>Maybe a phone number</li>
            <li>An address, more than likely</li>
            <li>Probably an email address too</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="usa-width-one-third">
      <div class="usa-grid-full">
        <ul class="usa-unstyled-list footer-links usa-width-one-half">
          <li><a href="{{ site.baseurl }}/sitemap.html">Site Map</a></li>
          <li><a href="{{ site.baseurl }}/foia-info.html">FOIA</a></li>
          <li><a href="{{ site.baseurl }}/quality.html">Information Quality</a></li>
          <li><a href="{{ site.baseurl }}/developer.html">Developer Resources</a></li>
        </ul>
        <ul class="usa-unstyled-list footer-links usa-width-one-half">
          <li><a href="https://www.justice.gov/accessibility/accessibility-information">Accessibility</a></li>
          <li><a href="https://www.justice.gov/doj/privacy-policy">Privacy Policy</a></li>
          <li><a href="https://www.justice.gov/legalpolicies">Policies &amp; Disclaimers</a></li>
          <li><a href="http://www.justice.gov">Justice.gov</a></li>
          <li><a href="http://www.usa.gov">USA.gov</a></li>
        </ul>
    </div>
  </div>
</footer>
</div>
</div>
<!-- End Footer -->
