<!-- Start Footer -->
<footer class="usa-footer">
  <div class="usa-grid-full">
    <div class="usa-grid">
      <div class="usa-width-one-whole footer-logo">
	  <img class="footer-logo_img" src="{{ site.baseurl }}/img/foia-doj-logo-light.svg" alt="Foia.gov">
          <h2>FOIA.gov</h2>
      </div>
    </div>
    <div class="usa-grid">
      <div class="usa-width-one-half">
        <h6>Contact</h6>
        <ul class="usa-unstyled-list">
          <li>Office of Information Policy (OIP)</li>
          <li>U.S. Department of Justice</li>
          <li>Suite 11050</li>
          <li>1425 New York Avenue, N.W.</li>
          <li>Washington, D.C. 20530</li>
          <li>E-mail: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
        <p><small><a href="https://commons.wikimedia.org/wiki/File:Usdepartmentofjustice.jpg">Hero image credit</a>, CC3.0</small></p>
      </div>
      <div class="usa-width-one-half footer-links">
        <ul class="usa-unstyled-list footer-links_list usa-width-one-half">
          <!--- <li><a href="{{ site.baseurl }}/sitemap.html">Site map</a></li> -->
          <li><a href="{{ site.baseurl }}/developer/">Developer resources &amp; FOIA API</a></li>
        </ul>
        <ul class="usa-unstyled-list footer-links_list usa-width-one-half">
          <li><a href="https://www.justice.gov/accessibility/accessibility-information">Accessibility</a></li>
          <li><a href="https://www.justice.gov/doj/privacy-policy">Privacy policy</a></li>
          <li><a href="https://www.justice.gov/legalpolicies">Policies &amp; disclaimers</a></li>
          <li><a href="http://www.justice.gov">Justice.gov</a></li>
          <li><a href="http://www.usa.gov">USA.gov</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
