<button class="usa-button usa-button-primary-alt js-glossary-toggle glossary-toggle">Glossary</button>
<div id="glossary" class="glossary" aria-describedby="glossary-title" aria-hidden="true">
  <button title="Close glossary" class="js-glossary-close glossary-close">
    <span class="usa-sr-only">Hide glossary</span>
  </button>
  <h2 id="glossary-title">Glossary</h2>
  <label class="glossary-search-label" for="glossary-search">Filter glossary terms</label>
  <input id="glossary-search" class="js-glossary-search glossary-search" type="search" placeholder="e.g. agency component">
  <ul class="js-glossary-list usa-unstyled-list"></ul>
</div>
