<!-- Start Header -->
<script async type="text/javascript" id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=DOJ"></script>
<script type="text/javascript" src="scripts/breakout.js"></script>
<div id="header">
  <div class="skip"><a id="skip-link" href="2011foiapost03.html#mainContent">Skip to Main Content</a>|<a id="skip-link" href="2011foiapost03.html#footerLinks">Skip to Footer</a></div>
  <div id="doj"><img src="images/doj-top-logo.jpg" alt="United States Department of Justice" width="360" height="35" class="headerDOJ" /></div>
  <div id="headNav">
    <div><a href="index.html"><img src="images/foia-title-final.jpg" alt="Foia.gov" width="330" height="80" class="foiaTitle" /></a></div>
    <div class="right">
      <ul>
        <li><a href="news.html">News</a></li>
		<li><a href="glossary.html">Glossary</a></li>
		<li><a href="faq.html">FAQs</a></li>
		<li><a href="index-es.html">en Espa&ntilde;ol</a></li>
        <li><a href="feedback.html">Feedback</a></li>
		<li><a href="report-makerequest.html">FOIA Contacts</a></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
  <div id="tabs">
    <div id="tabnav">
      <ul>
       <li><a href="index.html" class="home"><p>Home</p></a></li>
       <li><a href="data.html" class="data"><p>Data</p></a></li>
       <li><a href="reports.html" class="reports"><p>Reports</p></a></li>
	   <li><a href="search.html" class="find"><p>Find</p></a></li>
       <li><a href="about.html" class="about"><p>Learn</p></a></li>
      </ul>
    </div>
    
	<a id="mainContent"></a>
  </div>
</div>

<!-- End Header -->
