<!-- Start Header -->
<script async type="text/javascript" id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=DOJ"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/breakout.js"></script>
<a class="usa-skipnav" href="#main">Skip to main content</a>
<header class="usa-header usa-header-extended" role="banner" style="background-color: white;">
{% include site-banner.html %}
  <div class="usa-navbar">
    <button class="usa-menu-btn">Menu</button>
    <div class="usa-logo" id="logo">
      <em class="usa-logo-text">
        <a href="{{ site.baseurl }}/" accesskey="1" title="Home">
          <img src="{{ site.baseurl }}/images/legacylogoonwhite.png" alt="Foia.gov">
          <h1 class="usa-header-title">FOIA.gov</h1>
        </a>
      </em>
    </div>
  </div>
  <nav role="navigation" class="usa-nav">
    <div class="usa-nav-inner">
      <button class="usa-nav-close">
        <img src="{{ site.baseurl }}/assets/img/close.svg" alt="close">
      </button>
      <ul class="usa-nav-primary usa-accordion">
      {% for link in site.navigation.primary %}
        {% if link.children %}
          <li>
          <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-{{ forloop.index }}">
            <span>{{ link.title }}</span>
          </button>
          <ul id="sidenav-{{ forloop.index }}" class="usa-nav-submenu usa-unstyled-list" aria-hidden="true">
          {% for child in link.children %}
            <li>
              <a href="{{ child.href | prepend: site.baseurl }}">{{ child.title }}</a>
            </li>
          {% endfor %}
          </ul>
        </li>
        {% else %}
          <li>
            <a class="usa-nav-link" href="{{ link.href | prepend: site.baseurl }}"><span>{{ link.title }}</span></a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
      <div class="usa-nav-secondary">
        <ul class="usa-unstyled-list usa-nav-secondary-links">
        {% for link in site.navigation.secondary %}
          <li>
            <a href="{{ link.href | prepend: site.baseurl }}"><span>{{ link.title }}</span></a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="usa-overlay"></div>

<!-- End Header -->
