<head>
<meta charset="utf-8" />
{% unless page.grid contains 'grid-legacy' %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endunless %}
<meta http-equiv="cache-control" content="{{ page.cache_control | default: 'no-cache' }}" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/images/favicons/site.webmanifest">
<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#122e50">
<link rel="shortcut icon" href="/images/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<meta name="dc.title" content="FOIA.gov (Freedom of Information Act) {{ page.title | default: 'Home Page' }}" />
<meta name="dc.description" content="The Freedom of Information Act (FOIA) is a law that gives you the right to access information from the federal government. It is often described as the law that keeps citizens in the know about their government." />
<meta name="dc.creator" content="Freedom of Information Act (FOIA)" />
<meta name="dc.language" scheme="ISO639" content="en-us" />
<meta name="dc.date.created" content="2011-03-14" />
<meta name="google-site-verification" content="QIW7EjDuZWalxdPnKcqnVFnQ5loGJ6S6MJjqKXbqiJk" />
{% if page.noindex %}
<meta name="robots" content="noindex">
{% endif %}
{% for css in page.stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/{{ css }}.css" />
{% endfor %}
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/foia-style.css?{{site.time | date: '%s%N'}}" />
{% if page.use-legacy-scripts %}
{% include legacy/head.html %}
{% endif %}
{% for script in page.scripts %}
<script type="text/javascript" src="{{ script }}?{{site.time | date: '%s%N'}}"></script>
{% endfor %}
<script src="{{ site.baseurl }}/assets/js/glossary.bundle.js"></script>
{% include foresee.html %}
<title>FOIA.gov - Freedom of Information Act{% if page.title %}: {{ page.title }}{% endif %}</title>
</head>
