<div class="usa-alert usa-alert-info">
  <div class="usa-alert-body">
    <h5 class="usa-alert-heading">
      Videos on this page are hosted on YouTube.
    </h5>
    <p class="usa-alert-text">
      Please review the <a href="https://www.youtube.com/static?template=terms" target="_blank" rel="noopener" title="Links to other government and non-government sites will typically appear with the “external link” icon to indicate that you are leaving the Department of Justice website when you click the link." aria-label="Links to other government and non-government sites will typically appear with the “external link” icon to indicate that you are leaving the Department of Justice website when you click the link.">
      YouTube Terms of Service
    </a>
      <a href="https://www.youtube.com/static?template=terms" class="no-underline" target="_blank" rel="noopener"  title="Links to other government and non-government sites will typically appear with the “external link” icon to indicate that you are leaving the Department of Justice website when you click the link." aria-label="Links to other government and non-government sites will typically appear with the “external link” icon to indicate that you are leaving the Department of Justice website when you click the link.">
        <i class="ext" role="img"></i>
      </a>
      and the <a href="https://policies.google.com/privacy?hl=en#infocollect" target="_blank" rel="noopener" title="Links to other government and non-government sites will typically appear with the “external link” icon to indicate that you are leaving the Department of Justice website when you click the link." aria-label="Links to other government and non-government sites will typically appear with the “external link” icon to indicate that you are leaving the Department of Justice website when you click the link.">Google Privacy Policy</a>.
      <a href="https://policies.google.com/privacy?hl=en#infocollect" class="no-underline" target="_blank" rel="noopener"  title="Links to other government and non-government sites will typically appear with the “external link” icon to indicate that you are leaving the Department of Justice website when you click the link." aria-label="Links to other government and non-government sites will typically appear with the “external link” icon to indicate that you are leaving the Department of Justice website when you click the link.">
        <i class="ext" role="img"></i>
      </a>
    </p>
  </div>
</div>
