// Component: Heading

.c-heading {
  font-size: 60px;

  .l-app-container--blue &,
  .l-app-container--purple &,
  .l-app-container--gray & {
    color: settings-color(grayscale,white);
  }
}

.c-heading--light {
  font-weight: settings-font-weight(light);
}

.c-heading--normal {
  font-weight: settings-font-weight(normal);
}

.c-heading--medium {
  font-weight: settings-font-weight(medium);
}

.c-heading--bold {
  font-weight: settings-font-weight(bold);
}
