---
---
DirectoryIndex index.html index.htm index.json
ErrorDocument 404 /404.html
FileETag All
{% if site.app_env == 'production' %}
Header setifempty Cache-Control "max-age=300, public, must-revalidate"
{% else %}
Header setifempty Cache-Control "max-age=0, public, must-revalidate"
{% endif %}

# Longer cache time for static assets
<FilesMatch "\.(eot|gif|ico|jpe?g|json|pdf|png|svg|swf|ttf|txt|woff2?|xls|xml|zip)$">
Header set Cache-Control "max-age=86400, public, must-revalidate"
</FilesMatch>

Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
Header always set Content-Security-Policy "frame-ancestors 'self' https://www.foia.gov"

RewriteEngine on

# Redirect for archive.foia.gov.
RewriteCond %{HTTP_HOST} ^archive\.foia\.gov [NC]
RewriteRule ^(.*) https://www.foia.gov [R=301,L]

{% if jekyll.environment == 'production' %}
# Redirect http -> https
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
# TODO test this with 302, then change it to 301 redirect
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [NE,L,R=302]
{% endif %}

# Legacy page redirects
RewriteRule ^developer.html$ /developer/ [R=301,L]
RewriteRule ^xmlgen/(.*)$ https://archive.foia.gov/xmlgen/ [R=301,L]
RewriteRule ^xmlgen$ https://archive.foia.gov/xmlgen/ [R=301,L]

# Portal request single page app
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^request/([a-z0-9_-]+/)*$ request/index.html
