---
---
DirectoryIndex index.php index.html index.htm index.json
ErrorDocument 404 /404.html
FileETag All
{% if site.app_env == 'production' %}
Header setifempty Cache-Control "max-age=300, public, must-revalidate"
{% else %}
Header setifempty Cache-Control "max-age=0, public, must-revalidate"
{% endif %}

# Longer cache time for static assets
<FilesMatch "\.(eot|gif|ico|jpe?g|json|pdf|png|svg|swf|ttf|txt|woff2?|xls|xml|zip)$">
Header set Cache-Control "max-age=86400, public, must-revalidate"
</FilesMatch>

RewriteEngine on

{% if jekyll.environment == 'production' %}
# Redirect http -> https
RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
{% endif %}

# Proxy any /foia requests to the reporting back end
RewriteRule "^foia/(.*)$" "foia-proxy.php?u=foia/$1" [QSA,L]

# Legacy page redirects
RewriteRule ^developer.html$ /developer/ [R=301,L]

# Portal request single page app
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^request/([a-z0-9_-]+/)*$ request/index.html
