DirectoryIndex index.php index.html index.htm index.json
ErrorDocument 404 /404.html
FileETag All
Header set Cache-Control "max-age=0, public, must-revalidate"

RewriteEngine on
RewriteRule ^developer.html$ /developer/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^request/([a-z0-9_-]+/)*$ request/index.html
