.element-invisible{
font-size: 18px;
font-weight: bold;
padding: 20px 0 8px 0;
display:block;
}

.form-item-search-block-form{
  margin: 0 0 15px 8px;
}

#foia-title{
  padding: 12px 80px 10px 30px;
  font: 18px  Palatino, Helvetica, Courier New, Palatino, Courier;
  color: #808080;
  font-weight: bold;
}

#search-pre-text{
  padding: 0px 60px 5px 10px;
  font: 13px Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif normal;
  color: #666;
}

#search-bar #search-button {
  background-image: url(https://www.foia.gov/images/utilsicon.jpg);
  background-position: -41px 7px;
  background-color: #6e89a5;
}
#edit-submit.icon{
  background: url(images/search_button.png);
  background-position: 2px 3px;
  background-color: #6e89a5;
  width: 21px;
  height: 21px;
  overflow: hidden;
  position: relative;
  right: 26px;
  top: 2px;
  font-size: 0;
  text-indent: -999em;
  border: none;
  padding: 0;
}
#edit-submit{
  background: url(images/utilsicon.png);
  background-position: -44px 2px;
  background-color: #6e89a5;
  width: 21px;
  height: 22px;
  overflow: hidden;
  position: relative;
  right: 26px;
  top: -13px;
  font-size: 0;
  text-indent: -999em;
  border: none;
  padding: 0;
}
#edit-submit.org{
  background: url(https://www.foia.gov/images/search-glass.jpg) no-repeat top right;
  width: 16px;
  height: 16px;
  overflow: hidden;
  position: relative;
  right: 24px;
  top: 3px;
  font-size: 0;
  text-indent: -999em;
  border: none;
  padding: 0;
}
