.foiaSection{padding: 6px 0 3px 0;}
.FormTitle{padding: 2px 0 5px 0; color:rgb(32,64,192);}
a, a:link, a:visited {text-decoration:none; }
a:active{text-decoration:none; }
.warnmessage{color:rgb(0,224,224);}
.errormessage{color:rgb(244,32,64);}
.blockout {opacity:0.6; background-color:rgb(0,0,0); z-index: 998; top:0; left:0; position:absolute; width:100%; height:1584px; }
.popupWindow {
	position:fixed;
	z-index: 999;
	border: 0 0;
	width: 900px;
	height: auto;
	background-color:#FFFFFF;
	margin-left:-450px; top:50%;
	margin-top: -375px; left:50%;
	font-family: Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333; 
	padding: 0;
	line-height:138%;
	}
.popupWindow h1 {font-size: 16px; margin: 0 0 12px 25px; }
.popupWindow h2 {font-size: 15px; margin: 0 0 10px 0;}
.popupClose {float: right; font-style: italic; font-weight: bold; font-size: 13px;}
.popupClose img {margin: 5px 5px 0 5px;}
.popupBody {padding: 0 20px 25px 20px;}
.popupBody ul {list-style-type: none;}
.popupBody ul li {margin: 5px 0;}

.popupVideo {
	position:fixed;
	z-index: 999;
	border: 0 0;
	width: 386;
	height: 255;
	background-color:#FFFFFF;
	margin-left:-450px; top:50%;
	margin-top: -375px; left:50%;
	font-family: Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333; 
	padding: 0;
	line-height:138%;
	}

.FoiaComparisonTitle{color:rgb(0,224,224); list-style-type: none;}
.FoiaCompareAgency{padding-right:6px;}
.FoiaCompareYear{color:rgb(244,64,128);}
.FoiaCompareData{padding-left:10px;border-style:none none none solid; border-width:1px;}
#glanceChart{width: 600px;}
#glanceData{float:right; margin: 0 30px 30px;}
.chartna {
	padding: 130px 150px 130px 150px;
	background-color:#dddddd;
	}
.chartnanodata{
	font-size: 26px;
	}
.chartnamoreinfo{
	font-size: 20px;
	}
.chartnatitle{
	font-style: italic;
	font-size: 22px;
	}
.redclose{
	color: #dd0033;
	}
.greenclose{
	color: #00dd33;
	}
#quarterlyClosedDetail {
	font-size: 18px;
	margin: 12px 0 0 0;
	font-weight: bold;
	}
#quarterlyClosedHeader {
	font-size: 22px;
	font-weight: bold;
	}
#quarterlyClosed {	
	background: url(images/foia-quarterly-yellow-highlight.jpg) no-repeat top left;
	padding: 10px 10px 0 10px;\
	float:left;
	
	}
#chartdiv {width: 600px;}

input[type=checkbox]
{
  -webkit-appearance:checkbox;
}
