// Component: Logo

.c-logo {
  display: flex;
  text-decoration: none;
}

.c-logo__image {
  height: 34px;
  margin-top: 0;
  margin-right: 0.5rem;
  width: 34px;

  @include breakpoint(settings-breakpoint(tablet-lg)) {
    height: 70px;
    margin-right: 1.5rem;
    width: 70px;
  }
}

.c-logo__text {
  font-weight: settings-font-weight(normal);
  margin: 1rem 0;

  .l-app-container--blue &,
  .l-app-container--purple &,
  .l-app-container--gray & {
    color: settings-color(grayscale,white);
  }
}
