---
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<!-- TODO: Remove this div when we dump the gradient. -->
{% unless page.use-uswds %}
<div id="background">
{% endunless %}
{% include header.html %}
<div class="usa-grid">
  <div id="main">
    <div id="content">
    {{ content }}
    </div>
  </div>
<!-- TODO: Remove this div when we dump the gradient. -->
{% unless page.use-uswds %}
</div>
{% endunless %}
{% include footer.html %}
</div>
{% comment %}
`page.init` is used for the legacy pages.
`page.bundle` is used for the non-legacy pages.
{% endcomment %}
{% if page.init %}<script type="text/javascript" src="{{ page.init | prepend: "/" | prepend: site.baseurl }}"></script>{% endif %}
{% if page.bundle %}<script type="text/javascript" src="{{ page.bundle | append: ".bundle.js" | prepend: "/assets/js/" | prepend: site.baseurl }}" ></script>{% endif %}
</body>
</html>
