---
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<!-- TODO: Remove this div when we dump the gradient. -->
{% unless page.not_legacy %}
<div id="background">
{% endunless %}
<div class="usa-grid">
  {% include header.html %}
  <div id="main">
    <div id="content">
    {{ content }}
    </div>
  </div>
<!-- TODO: Remove this div when we dump the gradient. -->
{% unless page.not_legacy %}
</div>
{% endunless %}
{% include footer.html %}
</div>
{% if page.init %}<script type="text/javascript" src="{{ page.init | prepend: "/" | prepend: site.baseurl }}"></script>{% endif %}
</body>
</html>
