---
layout: base
---
<div id="main">
<section class="usa-hero">
  <div class="usa-grid">
    <div class="usa-hero-callout usa-section-dark">
      <h2><span class="usa-hero-callout-alt">{{ page.hero.hed }}</span></h2>
      <p>{{ page.hero.text }}</p>
      <div class="hero-unit_button-group">
        <a href="#learn-more"><span>Tips for making a request</span></a>
        <span>or</span>
        <a class="usa-button usa-button-primary-alt" href="#agency-search">Start your request</a>
      </div>
    </div>
  </div>
</section>
<section id="learn-more" class="usa-grid three-column-summary">
  <h2>{{ page.section_one.hed }}</h2>
  <div class="usa-width-one-third">
    <ul class="usa-accordion-bordered">
      <li>
        <button class="usa-accordion-button" aria-expanded="false" aria-controls="learn-more-1">
          <h4><span>Do research before you request</span></h4>
        </button>
        <div id="learn-more-1" class="usa-accordion-content">
          <p>Before making a request, first see if the information is already publicly available. You
            can find a lot of useful information on individual agency websites and you can also
            <a href="{{ site.baseurl }}/search.html">search across the government</a> for information.</p>
          <p>If the information you want is not publicly available, you can submit a FOIA request.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="usa-width-one-third">
    <ul class="usa-accordion-bordered">
      <li>
        <button class="usa-accordion-button" aria-expanded="false" aria-controls="learn-more-2">
          <h4><span>Identify the right agency</span></h4>
        </button>
        <div id="learn-more-2" class="usa-accordion-content">
          <p>It’s important that you identify the correct <span data-term="agency">agency</span>
            for your request. There are over 100 agencies and each is responsible
            for handling its own FOIA requests. You can find a breakdown of agencies
            <a href="https://www.usa.gov/contact-by-topic">by topic on USA.gov</a> to help
            you identify the correct agency. You may also search for agencies using the search
            bar below.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="usa-width-one-third">
    <ul class="usa-accordion-bordered">
      <li>
        <button class="usa-accordion-button" aria-expanded="false" aria-controls="learn-more-3">
          <h4><span>After you submit a request</span></h4>
        </button>
        <div id="learn-more-3" class="usa-accordion-content">
          <p>The agency will typically first
            <span data-term="search">search</span> for the records and then review them to determine what can be
            <span data-term="disclosability">disclosed.</span> While FOIA allows for many records to be released, there are
              also nine <span data-term="exemptions">exemptions</span> that protect certain types of information, such as personal
              privacy and law enforcement interests. The length of time to respond to your
              request will vary depending on its
              <span data-term="simple and complex requests">complexity</span> and any
              <span data-term="backlog">backlog</span> of requests.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="agency-component-search" id="agency-search">
  <div id="landing-react-app"></div>
</section>
</div>
