---
layout: default
---
<aside class="usa-width-five-twelfths sidebar">
  <ul class="sidebar_tab-controls">
    <li class="tab_active"><a href="#js-request-directions">Request directions</a></li>
    <li><a href="#js-agency-information">Agency information</a></li>
  </ul>
  <ul class="sidebar_tabs">
    <li class="tab_active" id="js-request-directions">
      <h3>Department of Justice</h3>
      <h2>Federal Bureau of Investigation</h2>
      <section>
        {% if page.sidenav %}
        <ul class="sidebar_progress-bar">
        {% for link in page.sidenav %}
          {% if link.children %}
          <li>
            <a href="javascript:void(0);">{{ link.title }}</a>
            <ul class="usa-sidenav-sub_list">
              {% for child in link.children %}
              <li>
                <a href="{{ child.href | prepend: site.baseurl }}">{{ child.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li>
            <a {% if forloop.index == 1 %} class="step_active"{% endif %} href="{{ link.href | prepend: site.baseurl }}">
              <span>{{ link.title }}</span>
            </a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
      </section>
      <section>
        <h2>Tips for submitting</h2>
        <ul class="submission-help_tips">
          <li>
            <p>The person to reach out to about your FOIA request is:</p>
            <p class="submission-help_poc">Dennis Argall, Public Liason</p>
            <p class="submission-help_phone">540-868-4516</p> {% comment %} Mark this up for callability {% endcomment %}
            <p class="submission-help_email"><a href="mailto:foiarequest@ic.fbi.gov">foiarequest@ic.fbi.gov</a></p>
            <p>You can ask FOIA personnel about anything related to your request, including whether what you’re asking for is clear. You can also reach out to follow up on your request after it’s been submitted.</p>
          </li>
          <li>
            <p>The description of records you're requesting is very important.</p>
            <p class="submission-help_description">Be sure your request is clear and as specific as as possible.</p>
          </li>
          <li>
            <p>Do research before you file.</p>
            <p class="submission-help_research">Sometime records and information you’re looking for  is already public. You can find out by reaching out to the agency you’re interested in or by visiting their website or their FOIA reading room.</p>
          </li>
        </ul>
      </section>
    </li>
    <li id="js-agency-information">
      <h3>Department of Justice</h3>
      <h2>Federal Bureau of Investigation</h2>
      <div class="submission-help_processing-time">
        <h5>Median processing time</h5>
        <p>15 working days for simple requests</p>
        <p>187 working days for complex requests</p>
      </div>
      <div class="submission-help_agency-mission">
        <h5>Agency mission</h5>
        <p>As an intelligence-driven and a threat-focused national security organization with both intelligence and law enforcement responsibilities, the mission of the FBI is to protect and defend the United States against terrorist and foreign intelligence threats, to uphold and enforce the criminal laws of the United States, and to provide leadership and criminal justice services to federal, state, municipal, and international agencies and partners.</p>
      </div>
      <div class="submission-help_first-party-requests">
        <h5>First party requests</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div class="submission-help_expedited processing">
        <h5>Expedited processing</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div class="submission-help_contact">
        <p class="submission-help_website">fbi.gov</p>
        <p class="submission-help_poc">Dennis Argall, Public Liason</p>
        <p class="submission-help_phone">540-868-4516</p> {% comment %} Mark this up for callability {% endcomment %}
        <p class="submission-help_email"><a href="mailto:foiarequest@ic.fbi.gov">foiarequest@ic.fbi.gov</a></p>
        <address class="submission-help_mailing">
          <p>David M. Hardy</p>
          <p>Chief, Record/Information Dissemination Section, Records Management Division</p>
          <p>170 Marcel Drive</p>
          <p>Winchester, VA 22602-4843</p>
        </address>
      </div>
    </li>
  </ul><!-- tab container -->
</aside>
<div class="usa-width-seven-twelfths sidenav_content">
 {{ content }}
</div>
