/* Annual Report Data Page
 *
 * Custom styles for the Annual Report Data  page.
 */

.annual-report-data-page {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media print {
  .annual-report-data-page {
    width: 100%;
  }
}
