#chief-foia-officers-council-react-app {
  padding-bottom:4.6875rem;

  .usa-grid {
    padding-top:3.875rem;
    padding-left: 0;
  }
}

.cfoc-page {

  ul {
    padding-left: 1.55rem;
  }

  p {
    max-width: 90%;
  }

  .cfoc-page-meeting-materials,
  .cfoc-page-meeting-document-links {

    > p {
      margin-bottom: .75rem;
    }

    > ul {
      margin-top: 0;
    }
  }

  .cfoc-page-content-items {
    margin-top: 2.75rem;

    > * {

      &:first-child {
        border-top: 1px solid #92C8F6;
        padding-top: .75rem;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #92C8F6;
        padding-bottom: .75rem;
      }

      h2 {
        margin: 1.5rem 0 .5rem;
      }
    }
  }

  .cfoc-meeting-detail-agenda {
    margin-top: 3.125rem;

    > * {

      &:not(:first-child) {
        padding-top: .75rem;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #92C8F6;
        padding-bottom: .75rem;
      }
    }
  }

  .cfo-meeting-detail-agenda-item {
    display: flex;
    flex-flow: column nowrap;

    @media screen and (min-width: $small-screen) {
      flex-flow: row nowrap;
    }


    > * {

      &:first-child {
        font-weight: bold;
        margin-bottom: 1rem;
        width: 20%;

        @media screen and (min-width: $small-screen) {
          margin-bottom: 0;
        }
      }

      &:last-child {
        width: 80%;
      }

      span {
        display: block;

        &.title {
          font-weight: bold;
          margin-bottom: .75rem;
        }
      }
    }
  }
}