.usa-hero {
  background-image: url('../assets/Usdepartmentofjustice-1.jpg');
}
.usa-hero-callout {
  min-width: 55%;
  h2 {
    font-size: 2.5rem;
    font-family: $font-serif;
    line-height: 1.5;
    &:after {
      content: "";
      @include text-divider;
    }
  }
  p {
    font-size: $h4-font-size;
    line-height: 1.5;
  }
  .usa-button.usa-button-outline {
    padding: $space-2x;
    font-size: 1.9rem;
    font-weight: normal;
    margin-right: 0;
  }
}

.hero-unit_button-group {
  display: flex;
  font-size: 1.9rem;
  .usa-button {
    flex-grow: 1;
    display: inline;
    width: auto;
    margin-top: 0;
  }
  span {
    flex-grow: 1;
    line-height: 1;
    text-align: center;
    padding: $space-2x;
  }
}
