.use-dark-icons {
  .agency-info_processing-time h4 + p:before {
      @include has-icon($icon-clock);
  }
  .agency-info_personnel:before {
    @include has-icon($icon-person);
  }
  .agency-info_mailing-address:before {
    @include has-icon($icon-envelope);
  }
  .agency-info_website:before {
    @include has-icon($icon-laptop);
  }
  .agency-info_reading-rooms h4 + p:before {
    @include has-icon($icon-book, $height: $space-4x);
  }
  .icon-plus {
    @include has-icon($icon-plus, $width: 2.4rem, $height: 2.4rem, $float: left, $margins: 0 $space-1x 0 0);
  }
  .icon-minus {
    @include has-icon($icon-minus, $width: 2.4rem, $height: 2.4rem, $float: left, $margins: 0 $space-1x 0 0);
  }
}

.use-light-icons {
  .agency-info_processing-time h4 + p:before {
      @include has-icon($icon-clock-light);
  }
  .agency-info_personnel:before {
    @include has-icon($icon-person-light);
  }
  .agency-info_mailing-address:before {
    @include has-icon($icon-envelope-light);
  }
  .agency-info_website:before {
    @include has-icon($icon-laptop-light);
  }
  .agency-info_reading-rooms h4 + p:before,
  .submission-help_research:before {
    @include has-icon($icon-book-light, $height: $space-4x);
  }
  .submission-help_description:before {
    @include has-icon($icon-pencil-light);
  }
  [data-term]:after {
    background-image: url($icon-glossary-light);
  }
  .icon-plus {
    @include has-icon($icon-plus-light, $width: 2.4rem, $height: 2.4rem, $float: left, $margins: 0 $space-1x 0 0);
  }
  .icon-minus {
    @include has-icon($icon-minus-light, $width: 2.4rem, $height: 2.4rem, $float: left, $margins: 0 $space-1x 0 0);
  }
}

// no icon for address
.agency-info_mailing-address,
.agency-info_processing-time,
.agency-info_reading-rooms,
.agency-info_personnel,
.agency-info_phone,
.agency-info_email,
.agency-info_website,
.submission-help_research {
  padding-left: $space-4x;
}

.agency-info_processing-time,
.agency-info_reading-rooms {
  h4 {
    margin-left: $space-4x * -1;
  }
}

