/* Quarterly Report Data Page
 *
 * Custom styles for the Quarterly Report Data  page.
 */

.quarterly-report-data-page {
  margin-top: 5rem;
  margin-bottom: 5rem;
  a {
    text-decoration: underline;
  }
}

@media print {
  .quarterly-report-data-page {
    width: 100%;
  }
}
