.panel_reverse-color {
  background-color: $color-primary-alt-light;
  a,
  div > span[role='button'] {
    font-weight: $font-normal;
    color: $color-primary-darkest;
    &:hover,
    &:active,
    &:visited:hover,
    &:visited:active {
      color: $color-primary-darkest;
      border-bottom: 1px solid $color-primary-darkest;
    }
    &.usa-button {
      border-bottom-color: $color-primary-darkest;
      color: $color-white;
      &:hover,
      &:active,
      &:visited {
        color: $color-white;
      }
    }
  }
  a {
    border-bottom: 1px solid $color-primary-darkest;
  }
  .usa-button .usa-button-outline {
    color: $color-white;
  }
}
