$h1-leading: 1.4;
$h2-leading: $heading-line-height; // 1.3
$h3-leading: $base-line-height; // 1.5
$h4-leading: $base-line-height;
$h5-leading: $heading-line-height;
$p-leading:  1.5;


// Heading 1
h1 {
  font-size: $h1-font-size-mobile;
  font-family: $font-serif;
  line-height: $h1-leading;
  color: $color-primary-darkest;
  @media all and (min-width: $small-screen) {
    font-size: $h1-font-size;
  }
}

// Subhead 1
h2 {
  font-size: $h2-font-size-mobile;
  font-family: $font-sans;
  font-weight: normal;
  line-height: $h2-leading;
  color: $color-primary-darkest;
  @media all and (min-width: $small-screen) {
    font-size: $h2-font-size;
  }
}

// Heading 2
h3 {
  font-size: $h3-font-size-mobile;
  font-family: $font-serif;
  line-height: $h3-leading;
  color: $color-primary-darkest;
  &.sans {
    @media all and (min-width: $small-screen) {
      font-size: $h3-font-size-sans;
    }
    font-family: $font-sans;
    font-weight: normal;
  }
  @media all and (min-width: $small-screen) {
    font-size: $h3-font-size;
  }
}

// Subhead 2
h4 {
  font-size: $h4-font-size-mobile;
  font-family: $font-serif;
  line-height: $h4-leading;
  color: $color-primary-darkest;
  @media all and (min-width: $small-screen) {
    font-size: $h4-font-size;
  }
}

// Form labels/menu items
h5 {
  font-size: $h5-font-size;
  font-family: $font-sans;
  line-height: $h5-leading;
  font-weight: 500;
  color: $color-primary-darkest;
}

p {
  line-height: $p-leading;
  color: $color-primary-darkest;
  &.secondary-text {
    font-size: 1.5rem;
  }
}

p a {
  color: $color-primary-darkest;
  text-decoration: none;
  border-bottom: 1px solid $color-primary-alt;
  &:hover,
  &:active {
    color: $color-primary;
  }
  &:visited {
    color: $color-primary-darkest;
    &:hover,
    &:active {
      color: $color-primary;
    }
  }
}
