name: Deploy to dev environment - dev-www.foia.gov
on:
  push:
    branches:
      - dev-test
jobs:
  # Build and deploy to the Acquia Cloud development environment
  build:
    env:
      GIT_REPO: ${{ secrets.GIT_REPO }}
#      NODE_ENV: production
      APP_ENV: development
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        name: Setup RUBY
      - name: Install dependencies
        run: |
          npm i
          bundle install
      - name: Run tests
        run: |
          make test
      # Install SSH Key
      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}
      - name: Acquia known hosts
        run: |
          echo "${{ secrets.KNOWN_HOSTS }}" >> ~/.ssh/known_hosts
      - name: Deploy to Acquia development
        run: |
          chmod +x ./bin/git-deploy.sh
          ./bin/git-deploy.sh _site development
        shell: bash
